h1,
h2 {
  font-family: var(--font-big-shoulders-display);
  text-transform: uppercase;
}

h2 {
  font-size: var(--fs-10);
  line-height: var(--leading-12);
}

body {
  padding-inline: var(--space-6);
  padding-block: var(--space-22);
  font-family: var(--font-lexend-deca);
  font-size: var(--fs-body-copy);
  line-height: var(--leading-6-25);
}

[role="list"] {
  margin: 0;
  padding: 0;
}
