:root {
  --color-foreground: var(--color-black);
  --color-background: var(--color-white);
  --color-links: var(--color-blue-500);
  --color-links-hover: var(--color-blue-600);
  --color-border: var(--color-light-gray);
  --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: var(--color-white);
    --color-background: var(--color-black);
    --color-links: var(--color-blue-400);
    --color-links-hover: var(--color-blue-300);
    --color-border: var(--color-dark-gray);
  }
}
