---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Article preview component</title>
  </head>
  <body>
    <main>
      <article>
        <img alt="" src="/images/drawers.jpg" />
        <h1>
          Shift the overall look and feel by adding these wonderful touches to
          furniture in your home
        </h1>
        <p>
          Ever been in a room and felt like something was missing? Perhaps it
          felt slightly bare and uninviting. I’ve got some simple tips to help
          you make any room feel complete.
        </p>
        <footer>
          <img alt="michelle" src="/images/avatar-michelle.jpg" />
          <p><strong>Michelle Appleton</strong></p>
          <p>28 Jun 2020</p>
          <p id="share-desc">Share</p>
          <ul aria-describedby="share-desc">
            {
              [
                {
                  name: "facebook",
                  image: "/images/icon-facebook.svg",
                  width: 20,
                  height: 20,
                },
                {
                  name: "twitter",
                  image: "/images/icon-twitter.svg",
                  width: 20,
                  height: 17,
                },
                {
                  name: "pinterest",
                  image: "/images/icon-pinterest.svg",
                  width: 20,
                  height: 20,
                },
              ].map((site) => {
                return (
                  <li>
                    <a href="#">
                      <img
                        alt={site.name}
                        src={site.image}
                        width={site.width}
                        height={site.height}
                      />
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </footer>
      </article>
    </main>
  </body>
</html>
