.hero {
  --center-gutter: 0;
  --center-size: 90rem;
}

.hero img {
  width: 100%;
  height: 18.75rem;
  object-fit: cover;
}

.hero picture {
  position: relative;
  isolation: isolate;
}

.hero picture::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 60%;
  background: linear-gradient(to bottom, var(--color-black), transparent 8rem);
}

@media (min-width: 40em) {
  .hero img {
    height: 25rem;
  }
}
