.button {
  --button-color-_background: var(--button-color-background);
  --button-color-_foreground: var(--button-color-foreground);

  border: 2px solid var(--button-color-background);
  display: inline-flex;
  padding-inline: var(--space-8);
  padding-block: var(--space-3);
  border-radius: 9999px;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  background: var(--button-color-_background);
  color: var(--button-color-_foreground);
}

.button:hover,
.button:focus {
  --button-color-_background: transparent;
  --button-color-_foreground: var(--button-color-background);
}
