.card {
  --card-color-display: var(--color-very-light-gray);
  --card-color-body: var(--color-transparent-white);

  --button-color-background: var(--card-color-display);
  --button-color-foreground: var(--card-color);

  padding: var(--space-12);
  background: var(--card-color);
  color: var(--card-color-body);
}

.card h2 {
  color: var(--card-color-display);
}
