/* Supports weights 100-700 */
@import "@fontsource-variable/antonio";
/* Supports weights 100-900 */
@import "@fontsource-variable/league-spartan";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-FFFFFF: 0 0% 100%;
    --color-070724: 240 67% 8%;
    --color-38384F: 240 17% 26%;
    --color-838391: 240 6% 54%;
    --color-419EBB: 194 48% 49%;
    --color-EDA249: 33 82% 61%;
    --color-6D2ED5: 263 67% 51%;
    --color-D14C32: 10 63% 51%;
    --color-D83A34: 2 68% 53%;
    --color-CD5120: 17 73% 46%;
    --color-1EC1A2: 169 73% 44%;
    --color-2D68F0: 222 87% 56%;

    color-scheme: dark;
  }

  body {
    @apply font-spartan text-body;

    --gutter: 1.5rem;
    --color-mercury: var(--color-419EBB);
    --color-venus: var(--color-EDA249);
    --color-earth: var(--color-6D2ED5);
    --color-mars: var(--color-D14C32);
    --color-jupiter: var(--color-D83A34);
    --color-saturn: var(--color-CD5120);
    --color-uranus: var(--color-1EC1A2);
    --color-neptune: var(--color-2D68F0);

    background: hsl(var(--color-070724));
    color: var(--color-FFFFFF);
  }

  @screen tablet {
    body {
      --gutter: 2.5rem;
    }
  }
}

@layer components {
  .cluster {
    display: flex;
    justify-content: var(--cluster-justify);
    align-items: center;
    flex-wrap: wrap;
    gap: var(--cluster-space);
  }

  .menu__overlay {
    @apply bg-black/85;

    position: fixed;
    inset: 0;
  }

  .menu__content {
    @apply bg-slate-950;

    overflow-y: auto;
    position: fixed;
    inset: 0 auto 0 0;
    max-width: 100%;
    width: 16.25rem;
    padding: 1.5rem;
  }
}
