---
import Facebook from "../components/Facebook.astro";
import Instagram from "../components/Instagram.astro";
import Twitter from "../components/Twitter.astro";
// stylesheet dependencies are imported here, since `astro dev` injects them in the wrong order if they're imported in `<style>`, messing up specificity
import "../styles/reset.css";
import "@fontsource-variable/libre-franklin";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Ping coming soon page</title>
  </head>
  <body>
    <header>
      <img alt="ping" src="/images/logo.svg" width="86" height="26" />
    </header>
    <main>
      <h1>We are launching <strong>soon!</strong></h1>
      <p>Subscribe and get notified</p>
      <form>
        <label class="sr-only" for="email"
          >Write your email to get notified</label
        >
        <input
          id="email"
          type="email"
          placeholder="Your email address..."
          aria-describedby="email-error"
        />
        <p id="email-error">Please provide a valid email address</p>
        <button type="submit">Notify Me</button>
      </form>
      <img alt="the ping dashboard" src="/images/illustration-dashboard.png" />
    </main>
    <footer>
      <ul>
        {
          [
            { name: "facebook", icon: <Facebook /> },
            { name: "twitter", icon: <Twitter /> },
            { name: "instagram", icon: <Instagram /> },
          ].map((site) => {
            return (
              <li>
                <a href="#">
                  {site.icon} <span>{site.name}</span>
                </a>
              </li>
            );
          })
        }
      </ul>
      <span aria-hidden="true">&copy;</span> Copyright Ping. All rights reserved.
    </footer>
  </body>
</html>

<style is:global>
  :root {
    /* primary */
    --color-base-blue: 223 87% 63%;
    --color-blue: hsl(var(--color-base-blue));
    /* secondary */
    --color-pale-blue: hsl(223 100% 88%);
    --color-light-red: hsl(354 100% 66%);
    /* neutral */
    --color-gray: hsl(0 0% 59%);
    --color-very-dark-blue: hsl(209 33% 12%);
    /* other */
    --color-white: hsl(0 0% 100%);
    --color-input-placeholder: hsl(223 59% 83%);
    --color-button-focus: hsl(223 87% 70%);

    --font: "Libre Franklin Variable", sans-serif;

    --weight-light: 300;
    --weight-semi-bold: 600;
    --weight-bold: 700;

    --tracking-feedback: 0.008125rem;
    --tracking-feedback-desktop: 0.009375rem;

    --text-heading: var(--weight-light) 1.375rem / 2rem var(--font);
    --text-heading-desktop: var(--weight-light) 3rem / 3.75rem var(--font);
    --text-body: var(--weight-light) 0.75rem / 0.9375rem var(--font);
    --text-body-desktop: var(--weight-light) 1.25rem / 1.5rem var(--font);
    --text-input: var(--weight-light) 0.75rem / 1.25rem var(--font);
    --text-input-desktop: var(--weight-light) 1rem / 1.25rem var(--font);
    --text-feedback: italic var(--weight-light) 0.75rem / 1.25rem var(--font);
    --text-feedback-desktop: italic var(--weight-light) 1rem / 1.25rem
      var(--font);
    --text-button: var(--weight-semi-bold) 0.75rem / 1rem var(--font);
    --text-button-desktop: var(--weight-semi-bold) 1rem / 1.1875rem var(--font);
    --text-copyright: var(--weight-light) 0.625rem / 0.75rem var(--font);
    --text-copyright-desktop: var(--weight-light) 0.75rem / 0.9375rem
      var(--font);

    /* from tailwind */
    --transition: cubic-bezier(0.4, 0, 0.2, 1) 150ms;
  }

  body {
    font: var(--text-body);
    text-align: center;
    background: var(--color-white);
    color: var(--color-very-dark-blue);
  }

  footer {
    font: var(--text-copyright);
    color: var(--color-gray);
  }

  h1 {
    font: var(--text-heading);
    color: var(--color-gray);
  }

  strong {
    font-weight: var(--weight-bold);
    color: var(--color-very-dark-blue);
  }

  input {
    font: var(--text-input);
    border: 1px solid var(--color-pale-blue);
    border-radius: 9999px;
    padding: 0.5625rem 1.9375rem;
    transition: border-color var(--transition);
  }

  input::placeholder {
    color: var(--color-input-placeholder);
  }

  input[aria-invalid="true"] {
    border-color: var(--color-light-red);
  }

  input + p[id] {
    font: var(--text-feedback);
    color: var(--color-light-red);
  }

  button {
    font: var(--text-button);
    border: 1px solid transparent;
    border-radius: 9999px;
    padding: 0.6875rem 1.9375rem;
    background: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0 0.3125rem 0.625rem 0.125rem hsl(var(--color-base-blue) / 23%);
    transition: background-color var(--transition);
  }

  button:hover,
  button:focus-visible {
    background: var(--color-button-focus);
  }

  @screen md {
    body {
      font: var(--text-body-desktop);
    }

    footer {
      font: var(--text-copyright-desktop);
    }

    h1 {
      font: var(--text-heading-desktop);
    }

    input {
      font: var(--text-input-desktop);
    }

    input + p[id] {
      font: var(--text-feedback-desktop);
      text-align: start;
    }

    button {
      font: var(--text-button-desktop);
    }
  }

  @tailwind utilities;
</style>
