/* Supports weights 100-700 */
@import "@fontsource-variable/josefin-sans";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary */
    --color-bright-blue: 220 98% 61%;
    --color-check-background-from: 192 100% 67%;
    --color-check-background-to: 280 87% 65%;

    /* Light Theme */
    --color-very-light-gray: 0 0% 98%;
    --color-very-light-grayish-blue: 236 33% 92%;
    --color-light-grayish-blue: 233 11% 84%;
    --color-dark-grayish-blue: 236 9% 61%;
    --color-very-dark-grayish-blue: 235 19% 35%;

    /* Not in style guide */
    --color-white: 0 0% 100%;
    --color-black: 0 0% 0%;

    /* Font size */
    /* @link https://utopia.fyi/clamp/calculator?a=375,540,27—40|12—18|12—14|16—16 */
    --fluid-27-40: clamp(1.6875rem, -0.1591rem + 7.8788vi, 2.5rem);
    --fluid-12-18: clamp(0.75rem, -0.1023rem + 3.6364vi, 1.125rem);
    --fluid-12-14: clamp(0.75rem, 0.4659rem + 1.2121vi, 0.875rem);
    --fluid-16-16: clamp(1rem, 1rem + 0vi, 1rem);

    /* Letter spacing */
    /* @link https://utopia.fyi/clamp/calculator?a=375,540,10—15|-0.17—-0.25|-0.17—-0.19 */
    --fluid-10-15: clamp(0.625rem, -0.0852rem + 3.0303vi, 0.9375rem);
    --fluid--0\.17--0\.25: clamp(-0.0156rem, 0.0007rem + -0.0485vi, -0.0106rem);
    --fluid--0\.17--0\.19: clamp(
      -0.0119rem,
      -0.0078rem + -0.0121vi,
      -0.0106rem
    );

    /* Line height */

    --background: var(--color-very-light-gray);
    --foreground: var(--color-dark-grayish-blue);
    --header: linear-gradient(to right, hsl(280 83% 55%), hsl(217 100% 67%));
    --header-foreground: var(--color-white);
    --new: var(--color-white);
    --new-foreground: var(--color-very-dark-grayish-blue);
    --new-foreground-placeholder: var(--color-dark-grayish-blue);
    --new-border: var(--color-very-light-grayish-blue);
    --new-caret: var(--color-bright-blue);
    --todo: var(--color-white);
    --todo-foreground: var(--color-very-dark-grayish-blue);
    --todo-foreground-fade: var(--color-light-grayish-blue);
    --todo-border: var(--color-very-light-grayish-blue);
    --filter-foreground: var(--color-dark-grayish-blue);
    --filter-foreground-active: var(--color-bright-blue);
    --filter-foreground-hover: var(--color-very-dark-grayish-blue);
    --checkbox: linear-gradient(
      to bottom right,
      hsl(var(--color-check-background-from)),
      hsl(var(--color-check-background-to))
    );
    --checkbox-foreground: var(--color-white);
    --shadow: var(--color-light-grayish-blue);

    color-scheme: light;
  }

  * {
    @apply outline-offset-4;
  }

  body {
    @apply font-base text-body leading-none bg-background text-foreground;
  }

  :root[data-theme="dark"] {
    --color-very-dark-blue: 235 21% 11%;
    --color-very-dark-desaturated-blue: 235 24% 19%;
    --color-light-grayish-blue: 234 39% 85%;
    --color-light-grayish-blue-hover: 236 33% 92%;
    --color-dark-grayish-blue: 234 11% 52%;
    --color-very-dark-grayish-blue: 233 14% 35%;
    --color-very-dark-grayish-blue-1: 237 14% 26%;

    --background: var(--color-very-dark-blue);
    --foreground: var(--color-very-dark-grayish-blue);
    --header: linear-gradient(to right, hsl(254 85% 40%), hsl(307 64% 39%));
    --new: var(--color-very-dark-desaturated-blue);
    --new-foreground: var(--color-light-grayish-blue);
    --new-foreground-placeholder: var(--color-dark-grayish-blue);
    --new-border: var(--color-very-dark-grayish-blue-1);
    --todo: var(--color-very-dark-desaturated-blue);
    --todo-foreground: var(--color-light-grayish-blue);
    --todo-foreground-fade: var(--color-very-dark-grayish-blue);
    --todo-border: var(--color-very-dark-grayish-blue-1);
    --filter-foreground: 235 16% 42%;
    --filter-foreground-hover: var(--color-light-grayish-blue-hover);
    --shadow: var(--color-black);

    color-scheme: dark;
  }
}

@layer components {
  /* Components here */
}
