@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary */
    --color-bright-blue: 220 98% 61%;
    --color-check-background-from: 192 100% 67%;
    --color-check-background-to: 280 87% 65%;

    /* Light Theme */
    --color-very-light-gray: 0 0% 98%;
    --color-very-light-grayish-blue: 236 33% 92%;
    --color-light-grayish-blue: 233 11% 84%;
    --color-dark-grayish-blue: 236 9% 61%;
    --color-very-dark-grayish-blue: 235 19% 35%;

    /* Not in style guide */
    --color-white: 0 0% 100%;

    --background: var(--color-very-light-gray);
    --foreground: var(--color-dark-grayish-blue);
    --header-foreground: var(--color-white);
    --new: var(--color-white);
    --new-foreground: var(--color-dark-grayish-blue);
    --new-border: var(--color-very-light-grayish-blue);
    --todo: var(--color-white);
    --todo-foreground: var(--color-very-dark-grayish-blue);
    --todo-foreground-fade: var(--color-light-grayish-blue);
    --todo-border: var(--color-very-light-grayish-blue);
    --filter-foreground: var(--color-dark-grayish-blue);
    --filter-foreground-active: var(--color-bright-blue);
    --filter-foreground-hover: var(--color-very-dark-grayish-blue);

    color-scheme: light;
  }

  body {
    @apply font-base text-body bg-background text-foreground;
  }

  :root[data-theme="dark"] {
    --color-very-dark-blue: 235 21% 11%;
    --color-very-dark-desaturated-blue: 235 24% 19%;
    --color-light-grayish-blue: 234 39% 85%;
    --color-light-grayish-blue-hover: 236 33% 92%;
    --color-dark-grayish-blue: 234 11% 52%;
    --color-very-dark-grayish-blue: 233 14% 35%;
    --color-very-dark-grayish-blue-1: 237 14% 26%;

    --background: var(--color-very-dark-blue);
    --foreground: var(--color-very-dark-grayish-blue);
    --new: var(--color-very-dark-desaturated-blue);
    --new-foreground: var(--color-dark-grayish-blue);
    --new-border: var(--color-very-dark-grayish-blue-1);
    --todo: var(--color-very-dark-desaturated-blue);
    --todo-foreground: var(--color-light-grayish-blue);
    --todo-foreground-fade: var(--color-very-dark-grayish-blue);
    --todo-border: var(--color-very-dark-grayish-blue-1);
    --filter-foreground: 235 16% 42%;
    --filter-foreground-hover: var(--color-light-grayish-blue-hover);

    color-scheme: dark;
  }
}

@layer components {
  /* Components here */
}
