---
import Base from "../layouts/Base.astro";
import Footer from "../components/Footer.astro";
import Picture from "../components/Picture.astro";
import Button from "../components/Button.astro";
---

<!-- todo: alt/figure for all images -->
<Base>
  <main>
    <div class="hero">
      <h1>Modern Art Gallery</h1>
      <Picture alt="" name="image-hero" extension="jpg" />
      <p>
        The arts in the collection of the Modern Art Gallery all started from a
        spark of inspiration. Will these pieces inspire you? Visit us and find
        out.
      </p>
      <p>
        <Button href="/location">Our location</Button>
      </p>
    </div>
    <h2>Your day at the gallery</h2>
    <p>
      Wander through our distinct collections and find new insights about our
      artists. Dive into the details of their creative process.
    </p>
    <Picture alt="" name="image-grid-1" extension="jpg" />
    <Picture alt="" name="image-grid-2" extension="jpg" />
    <Picture alt="" name="image-grid-3" extension="jpg" />
    <div class="inspired">
      <h2>Come &amp; be inspired</h2>
      <p>
        We’re excited to welcome you to our gallery and see how our collections
        influence you.
      </p>
    </div>
  </main>
  <Footer />
</Base>

<style>
  h1 {
    font: var(--weight-black) 3.75rem / 3.4375rem var(--font-display);
  }

  h2 {
    font: var(--weight-black) 3.125rem / 2.8125rem var(--font-display);
  }

  .hero {
    background: linear-gradient(
      to right,
      var(--color-almost-black) 50%,
      var(--color-white) 50%
    );
  }

  .hero h1 {
    color: var(--color-white);
    mix-blend-mode: difference;
  }

  .inspired {
    background: var(--color-almost-black);
    color: var(--color-white);
  }

  .inspired h2 {
    color: inherit;
  }

  @screen tablet {
    h1 {
      font: var(--weight-black) 4.375rem / 4.0625rem var(--font-display);
    }
  }

  @screen desktop {
    h1 {
      font: var(--text-heading-xl);
    }

    h2 {
      font: var(--text-heading-m);
    }
  }
</style>
