---
import Base from "../layouts/Base.astro";
import Footer from "../components/Footer.astro";
import Picture from "../components/Picture.astro";
import Button from "../components/Button.astro";
---

<!-- todo: alt/figure for all images -->
<Base>
  <main>
    <div class="hero">
      <div class="hero__content">
        <div class="hero__text">
          <h1>
            <span>Modern Art Gallery</span>
          </h1>
          <p>
            The arts in the collection of the Modern Art Gallery all started
            from a spark of inspiration. Will these pieces inspire you? Visit us
            and find out.
          </p>
          <p>
            <Button href="/location">Our location</Button>
          </p>
        </div>
        <div class="hero__image">
          <Picture alt="" name="image-hero" extension="jpg" />
        </div>
      </div>
    </div>
    <div class="gallery">
      <div class="day">
        <h2 class="day__heading">Your day at the gallery</h2>
        <p class="day__body">
          Wander through our distinct collections and find new insights about
          our artists. Dive into the details of their creative process.
        </p>
      </div>
      <div class="gallery__image-1">
        <Picture alt="" name="image-grid-1" extension="jpg" />
      </div>
      <div class="gallery__image-2">
        <Picture alt="" name="image-grid-2" extension="jpg" />
      </div>
      <Picture alt="" name="image-grid-3" extension="jpg" />
      <div class="inspired">
        <h2>Come &amp; be inspired</h2>
        <p class="inspired__body">
          We’re excited to welcome you to our gallery and see how our
          collections influence you.
        </p>
      </div>
    </div>
  </main>
  <Footer />
</Base>

<style>
  h1 {
    font: var(--weight-black) 3.75rem / 3.4375rem var(--font-display);
  }

  @screen tablet {
    h1 {
      font: var(--weight-black) 4.375rem / 4.0625rem var(--font-display);
    }
  }

  @screen desktop {
    h1 {
      font: var(--text-heading-xl);
    }
  }

  h2 {
    font: var(--weight-black) 3.125rem / 2.8125rem var(--font-display);
  }

  @screen desktop {
    h2 {
      font: var(--text-heading-m);
    }
  }

  .hero__content {
    display: grid;
  }

  .hero__text {
    margin-top: 2rem;
    padding-inline: 1rem;
  }

  .hero__text > * + * {
    margin-top: 2rem;
  }

  .hero__image {
    order: -1;
  }

  @screen tablet {
    .hero__content {
      grid-template-columns: 1fr 3rem 1fr;
    }

    .hero__text {
      grid-column: 2 / -1;
      grid-row: 1;
      align-self: center;
      margin-top: 0;
      padding-inline: 0 2.5rem;
    }

    .hero__text > * + * {
      margin-top: 3rem;
    }

    .hero__image {
      grid-column: 1 / 3;
      grid-row: 1;
    }
  }

  @screen desktop {
    .hero {
      background: linear-gradient(
        to right,
        var(--color-almost-black) 50%,
        var(--color-white) 50%
      );
    }

    .hero__content {
      position: relative;
      box-sizing: content-box;
      max-width: 69.375rem;
      margin-inline: auto;
      padding-inline: 2.5rem;
      grid-template-columns: 1fr 1fr;
    }

    .hero__text {
      isolation: isolate;
      grid-column: 2;
      grid-row: 1;
      place-self: start end;
      margin-top: 11.875rem;
      padding: 0;
      max-width: 21.875rem;
    }

    .hero__text > * + * {
      margin-top: 4rem;
    }

    .hero__text > *:nth-child(2) {
      margin-top: 0;
    }

    .hero h1 {
      /*
        Assume the size of the hero image is static, and that it's centered.
        The color should switch at the edge of the image, which'll be at
        `<half of container> - <half of image>`.
      */
      --hero-heading-switch: calc(50% - 33.75rem / 2);

      position: absolute;
      z-index: -1;
      left: 0;
      width: 100%;
      padding-left: 2.5rem;
      background-image: linear-gradient(
        to right,
        var(--color-white) var(--hero-heading-switch),
        var(--color-almost-black) var(--hero-heading-switch)
      );
      background-clip: text;
      color: transparent;
    }

    .hero h1 span {
      display: inline-block;
      max-width: min(28.125rem, 50%);
    }

    .hero__image {
      grid-column: 1 / -1;
      grid-row: 1;
      place-self: stretch center;
    }
  }

  .gallery {
    box-sizing: content-box;
    max-width: 69.375rem;
    margin-block: 7.5rem;
    margin-inline: auto;
    padding-inline: 1rem;
    display: grid;
    gap: 1rem;
  }

  .gallery__image-1 {
    order: -1;
  }

  .gallery__image-2 {
    margin-top: 1rem;
  }

  @screen tablet {
    .gallery {
      padding-inline: 2.5rem;
      grid-template-columns: 1fr 6.75rem 1fr;
      gap: 0.75rem;
    }

    .gallery__image-1 {
      order: 0;
      grid-column: span 2;
    }

    .gallery__image-2 {
      grid-column: span 2;
      grid-row: span 2;
      margin-top: 0;
    }
  }

  @screen desktop {
    .gallery {
      margin-block: 11.25rem;
      grid-template-columns: 1fr 10rem 1fr;
      gap: 1.875rem;
    }
  }

  .day {
    padding-right: 3.625rem;
  }

  .day__heading {
    margin-top: 0.5625rem;
  }

  .day__body {
    margin-top: 1.3125rem;
  }

  @screen tablet {
    .day {
      padding-block: 2.25rem;
    }

    .day__heading {
      margin-top: 0;
    }

    .day__body {
      margin-top: 1.5rem;
    }
  }

  @screen desktop {
    .day {
      box-sizing: content-box;
      max-width: 21.875rem;
      padding-block: 3.75rem;
    }

    .day__body {
      margin-top: 2rem;
    }
  }

  .inspired {
    padding: 3rem 1.5rem;
    background: var(--color-almost-black);
    color: var(--color-white);
  }

  .inspired h2 {
    color: inherit;
  }

  .inspired__body {
    margin-top: 1.5rem;
  }

  @screen tablet {
    .inspired {
      padding-inline: 1.75rem;
      display: grid;
      align-content: center;
    }
  }

  @screen desktop {
    .inspired {
      padding: 4rem 3rem;
    }

    .inspired__body {
      margin-top: 2rem;
    }
  }
</style>
