---
import Base from "../layouts/Base.astro";
import Footer from "../components/Footer.astro";
import Picture from "../components/Picture.astro";
import Button from "../components/Button.astro";
---

<Base theme="almost-black">
  <header>
    <Button href="/" direction="reverse">Back to Home</Button>
  </header>
  <main>
    <!-- todo: non-decorative? -->
    <!-- todo: enhance with leaflet -->
    <div>
      <h1>Our location</h1>
      <p>
        <strong class="street">99 King Street</strong><br />
         Newport<br />
         RI 02840<br />
         United States of America
      </p>
      <p>
        Our newly opened gallery is located near the Edward King House on 99
        King Street, the Modern Art Gallery is free to all visitors and open
        seven days a week from <time datetime="08:00">8am</time> to <time
          datetime="21:00">9pm</time
        >.
      </p>
    </div>
    <Picture alt="" name="image-map" extension="png" />
  </main>
  <Footer theme="gold" />
</Base>

<style>
  h1 {
    font: var(--weight-black) 3.125rem / 2.8125rem var(--font-display);
  }

  .street {
    font: var(--weight-black) 2rem / 2rem var(--font-display);
    text-transform: uppercase;
    color: var(--color-gold);
  }

  @screen tablet {
    h1 {
      font: var(--weight-black) 3.4375rem / 3.125rem var(--font-display);
    }
  }

  @screen desktop {
    h1 {
      font: var(--text-heading-l);
    }

    .street {
      font: var(--text-heading-s);
    }
  }
</style>
