---
import "leaflet/dist/leaflet.css";
import Base from "../layouts/Base.astro";
import Footer from "../components/Footer.astro";
import Picture from "../components/Picture.astro";
import Button from "../components/Button.astro";
---

<Base theme="almost-black">
  <header>
    <Button href="/" direction="reverse">Back to Home</Button>
  </header>
  <main class="location">
    <!-- todo: non-decorative? -->
    <div class="location__text">
      <h1 class="location__heading">Our location</h1>
      <div class="location__info">
        <p>
          <strong class="location__street">99 King Street</strong><br />
           Newport<br />
           RI 02840<br />
           United States of America
        </p>
        <p>
          Our newly opened gallery is located near the Edward King House on 99
          King Street, the Modern Art Gallery is free to all visitors and open
          seven days a week from <time datetime="08:00">8am</time> to <time
            datetime="21:00">9pm</time
          >.
        </p>
      </div>
    </div>
    <div class="location__map map" data-map>
      <div class="map__leaflet" data-map-leaflet></div>
      <div class="map__image">
        <Picture alt="" name="image-map" extension="png" />
      </div>
    </div>
  </main>
  <Footer theme="gold" />
</Base>

<script>
  import L from "leaflet";

  const $map = document.querySelector("[data-map]") as HTMLElement;
  const $leaflet = $map.querySelector("[data-map-leaflet]") as HTMLElement;

  const map = L.map($leaflet, { zoomControl: false }).setView(
    [51.505, -0.09],
    13
  );

  L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);

  L.control.zoom({ position: "bottomleft" }).addTo(map);

  $map.dataset.enhanced = "true";
</script>

<style>
  header {
    box-sizing: content-box;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    margin-inline: auto;
    max-width: 69.375rem;
  }

  @screen tablet {
    header {
      padding-inline: 2.5rem;
    }
  }

  h1 {
    font: var(--weight-black) 3.125rem / 2.8125rem var(--font-display);
  }

  @screen tablet {
    h1 {
      font: var(--weight-black) 3.4375rem / 3.125rem var(--font-display);
    }
  }

  @screen desktop {
    h1 {
      font: var(--text-heading-l);
    }
  }

  .location {
    display: grid;
  }

  .location__text {
    box-sizing: content-box;
    margin-inline: auto;
    max-width: 69.375rem;
    padding: 3rem 1rem 3.5rem;
  }

  .location__info {
    margin-top: 3rem;
  }

  .location__info > * + * {
    margin-top: 1.25rem;
  }

  .location__street {
    font: var(--weight-black) 2rem / 2rem var(--font-display);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 1.25rem;
    color: var(--color-gold);
  }

  .location__map {
    order: -1;
  }

  .map {
    position: relative;
    isolation: isolate;
  }

  .map[data-enhanced="true"] {
    --map-image-display: none;
  }

  .map__leaflet {
    isolation: isolate;
    height: 34.375rem;
  }

  .map__image {
    position: absolute;
    inset: 0;
    display: var(--map-image-display);
  }

  @screen tablet {
    .map__leaflet {
      height: 37.5rem;
    }
  }

  @screen tablet {
    .location__text {
      padding-inline: 2.5rem;
      display: grid;
      grid-template-columns: 1fr 6.75rem 1fr;
      gap: 0.75rem;
    }

    .location__heading {
      width: min-content;
    }

    .location__info {
      grid-column: span 2;
      margin-top: 0;
    }
  }

  @screen desktop {
    .location__text {
      padding-block: 6.5rem 8rem;
      grid-template-columns: 1fr 1fr;
      gap: 1.875rem;
    }

    .location__info {
      grid-column: 2;
    }

    .location__info > * + * {
      margin-top: 2rem;
    }

    .location__street {
      font: var(--text-heading-s);
      margin-bottom: 1.5rem;
    }
  }
</style>
