body {
  --measure: var(--size-900);
  --border-width: 2px;

  --center-gutters: var(--space-200);

  /* hide hero image overflow */
  overflow-x: hidden;
  font-family: var(--font);
  font-size: var(--text-body-s);
  font-weight: var(--medium);
  line-height: var(--leading-body-s);
  color: var(--color-83869a);
}

body > header {
  --cluster-justify: space-between;
  --cluster-align: center;

  padding-block: var(--space-200);
}

body > header svg {
  block-size: var(--size-150);
  color: var(--color-13183f);
}

body > footer {
  background: var(--color-13183f);
  color: var(--color-ffffff);
}

ul[role="list"],
ol[role="list"] {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--weight-extra-bold);
  color: var(--color-13183f);
}

h1 {
  font-size: var(--text-heading-l);
  line-height: var(--leading-heading-l);
}

h2 {
  font-size: var(--text-heading-s);
  line-height: var(--leading-heading-ms);
}

h3 {
  font-size: var(--text-heading-xs);
  line-height: var(--leading-heading-xs);
}

a {
  font-size: var(--text-body-m);
  font-weight: var(--weight-bold);
  line-height: var(--leading-body-m);
  color: var(--color-f74780);
  text-decoration: none;
}

a:hover,
a:focus-visible {
  color: var(--color-ffa7c3);
}

/* tablet */
@media (min-width: 40em) {
  body {
    --center-gutters: var(--space-450);
  }

  body > header {
    padding-block: var(--space-300);
  }
}

/* desktop */
@media (min-width: 64em) {
  body {
    font-size: var(--text-body-m);
    line-height: var(--leading-body-m);
  }

  body > header svg {
    block-size: var(--size-200);
  }

  h1 {
    font-size: var(--text-heading-xl);
    line-height: var(--leading-heading-xl);
  }

  h2 {
    font-size: var(--text-heading-m);
    line-height: var(--leading-heading-m);
  }

  h3 {
    font-size: var(--text-heading-s);
    line-height: var(--leading-heading-s);
  }
}
