:root {
  --color-666ca3: rgb(102 108 163);
  --color-13183f: rgb(19 24 63);
  --color-83869a: rgb(131 134 154);
  --color-f74780: rgb(247 71 128);
  --color-ffa7c3: rgb(255 167 195);
  --color-ffffff: rgb(255 255 255);
  --color-06168d: rgb(6 22 141 / 4.42%); /* not in system */
  --color-ff6f48: 255 111 72;
  --color-f02aa6: 240 42 166;
  --color-f02aa6-ff6f48: linear-gradient(
    rgb(var(--color-ff6f48)),
    rgb(var(--color-f02aa6))
  );
  --color-f02aa6-ff6f48-hover: linear-gradient(
    rgb(var(--color-ff6f48) / 50%),
    rgb(var(--color-f02aa6) / 50%)
  );
  --color-4851ff: 72 81 255;
  --color-4851ff-f02aa6: linear-gradient(
    rgb(var(--color-4851ff)) -50%,
    rgb(var(--color-f02aa6))
  );
  --color-4851ff-f02aa6-hover: linear-gradient(
    rgb(var(--color-4851ff) / 50%) -50%,
    rgb(var(--color-f02aa6) / 50%)
  );
  --color-f0f1ff-ffffff: linear-gradient(rgb(255 255 255), rgb(240 241 255));

  --font: "Plus Jakarta SansVariable", sans-serif;

  --text-heading-xl: 3.5rem;
  --text-heading-l: 2.5rem;
  --text-heading-m: 2rem;
  --text-heading-s: 1.5rem;
  --text-heading-xs: 1.25rem; /* not in system */
  --text-body-m: 1.125rem;
  --text-body-s: 1rem;

  --leading-heading-xl: 4.375rem;
  --leading-heading-xl: 4.4375rem; /* design deviates from system */
  --leading-heading-l: 3.1875rem;
  --leading-heading-m: 2.5rem;
  --leading-heading-ms: 2rem; /* not in system */
  --leading-heading-s: 1.75rem;
  --leading-heading-s: 1.875rem; /* design deviates from system */
  --leading-heading-xs: 1.5625rem; /* not in system */
  --leading-body-m: 1.75rem;
  --leading-body-s: 1.75rem;
  --leading-body-s: 1.625rem; /* design deviates from system */

  --weight-extra-bold: 800;
  --weight-bold: 700;
  --weight-medium: 500;

  --size-70: 0.625rem; /* 10px */
  --size-90: 0.9375rem; /* 15px */
  --size-150: 1.4375rem; /* 23px */
  --size-175: 1.5625rem; /* 25px */
  --size-200: 1.8125rem; /* 29px */
  --size-250: 3.125rem; /* 50px */
  --size-260: 3.5rem; /* 56px */
  --size-500: 18.75rem; /* 300px */
  --size-590: 27.8125rem; /* 445px */
  --size-600: 28.5625rem; /* 457px */
  --size-900: 69.375rem; /* 1110px */

  --space-100: 0.625rem; /* 10px */
  --space-150: 0.875rem; /* 14px */
  --space-175: 0.9375rem; /* 15px */
  --space-200: 1rem; /* 16px */
  --space-225: 1.125rem; /* 18px */
  --space-280: 1.375rem; /* 22px */
  --space-300: 1.5rem; /* 24px */
  --space-310: 1.5625rem; /* 25px */
  --space-320: 1.625rem; /* 26px */
  --space-360: 1.8125rem; /* 29px */
  --space-375: 1.875rem; /* 30px */
  --space-400: 2rem; /* 32px */
  --space-425: 2.25rem; /* 36px */
  --space-435: 2.375rem; /* 38px */
  --space-450: 2.5rem; /* 40px */
  --space-475: 3.5rem; /* 56px */
  --space-500: 4rem; /* 64px */
  --space-530: 4.625rem; /* 74px */
  --space-550: 5rem; /* 80px */
  --space-575: 5.375rem; /* 86px */
  --space-600: 6.1875rem; /* 99px */
  --space-625: 6.875rem; /* 110px */
  --space-700: 8.75rem; /* 140px */
  --space-705: 9.25rem; /* 148px */
  --space-740: 10.75rem; /* 172px */
  --space-760: 11.625rem; /* 186px */
  --space-800: 14.125rem; /* 226px */
}
