:root {
  /* primary */
  --color-dark-cyan: hsl(185 75% 39%);
  --color-very-dark-desaturated-blue: hsl(229 23% 23%);
  --color-dark-grayish-blue: hsl(227 10% 46%);
  /* neutral */
  --color-dark-gray: hsl(0 0% 59%);

  --font: "Kumbh Sans Variable", sans-serif;

  --weight-regular: 400;
  --weight-bold: 700;

  --tracking-noun: 0.09375rem;

  --text-strong: var(--weight-bold) 1.125rem / 1.125rem var(--font);
  --text-body: var(--weight-regular) 0.875rem / 0.875rem var(--font);
  --text-noun: var(--weight-regular) 0.625rem / 0.625rem var(--font);
}
