.button {
  --button-border-width: var(--border-width);
  --button-radius: 9999px;

  --background-border-width: var(--button-border-width);
  --background-color: var(--color-gradient-1);
  --background-radius: var(--button-radius);
  --background-opacity: 0;
  --background-transition-duration: var(--transition-duration-deactivate);
  --shape-border-width: var(--button-border-width);
  --shape-radius: var(--button-radius);
  --shape-background: var(--color-dark-navy);
  --shape-padding-inline: var(--space-6);
  --shape-padding-block: var(--space-4);
  --size-inline: 100%;

  color: var(--color-white);
}

.button:hover,
.button:focus-visible {
  --background-opacity: 1;
  --background-transition-duration: var(--transition-duration-activate);
}
