.card {
  --card-color-max: var(--color-dark-navy-desaturated);

  --columns-number: 1;
  --shape-radius: var(--size-8);
  --shape-background: var(--color-white);
}

.card .card__summary {
  --container-padding: var(--space-8);
  --flow-space: var(--space-7);
}

.card .card__results {
  --flow-space: var(--space-4);
}

/* tablet */
@media (min-width: 40em) {
  .card {
    --columns-number: 2;
  }

  .card .card__summary {
    --container-padding: var(--space-10);
  }
}
