.card {
  --card-padding: var(--space-8);

  --columns-number: 1;
  --shape-radius: var(--size-8);
  --shape-background: var(--color-white);
}

.card .card__result {
  --flow-space: var(--space-6);
  --shape-background: var(--color-gradient-1);
  --shape-padding-inline: var(--card-padding);
  --shape-padding-block: var(--card-padding);

  text-align: center;
  color: var(--color-light-blue);
}

.card .card__caption {
  font-size: var(--text-heading-l);
  line-height: var(--leading-heading-l);
  color: var(--color-white);
}

.card .card__description {
  --center-size: var(--size-65);
  --flow-space: var(--space-2);
}

.card .card__summary {
  --container-padding: var(--card-padding);
  --flow-space: var(--space-7);
}

.card .card__results {
  --flow-space: var(--space-4);
}

/* tablet */
@media (min-width: 40em) {
  .card {
    --card-padding: var(--space-10);

    --columns-number: 2;
  }

  .card .card__result {
    --flow-space: var(--space-9);
  }

  .card .card__caption {
    --flow-space: var(--space-6);
  }

  .card .card__description {
    --flow-space: var(--space-4);
  }
}
