---
import { Image } from "@astrojs/image/components";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Profile card component</title>
  </head>
  <body>
    <main>
      <article class="card">
        <img
          class="pattern"
          alt=""
          src="/images/bg-pattern-card.svg"
          width="350"
          height="140"
        />
        <div class="info">
          <h1>
            Victor Crest<span class="sr-only">,</span>
            <span class="text-regular text-dark-grayish-blue">26</span>
          </h1>
          <div class="avatar">
            <Image
              alt="Victor Crest"
              src="/images/image-victor.jpg"
              format="jpg"
              width={96}
              height={96}
            />
          </div>
          <p>London</p>
        </div>
        <h2 class="sr-only" id="heading-stats">Statistics</h2>
        <ul class="stats" role="list" aria-labelledby="heading-stats">
          <li><strong>80K</strong> Followers</li>
          <li><strong>803K</strong> Likes</li>
          <li><strong>1.4K</strong> Photos</li>
        </ul>
      </article>
    </main>
  </body>
</html>
