---
import { Image } from "@astrojs/image/components";
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Profile card component</title>
  </head>
  <body>
    <main>
      <article>
        <h1>Victor Crest, 26</h1>
        <Image
          alt="Victor Crest"
          src="/images/image-victor.jpg"
          format="jpg"
          width={96}
          height={96}
        />
        <p>London</p>
        <h2 id="heading-statistics">Statistics</h2>
        <ul aria-labelledby="heading-statistics">
          <li>80K Followers</li>
          <li>803K Likes</li>
          <li>1.4K Photos</li>
        </ul>
      </article>
    </main>
  </body>
</html>
