.graphic {
  width: var(--graphic-width, auto);
  height: var(--graphic-height, auto);
}

.graphic * {
  fill: currentColor;
}

.graphic[data-graphic-strategy="stroke"] * {
  fill: transparent;
  stroke: currentColor;
}
