.hero {
  position: relative;
  isolation: isolate;
  padding-top: 9rem;
  padding-bottom: clamp(8.25rem, 66vw - 10rem, 29rem);
  background: hsl(199 97% 61%);
  color: var(--color-white);
}

.hero__arrow {
  --graphic-width: 2.25rem;

  margin-top: 3.0625rem;
}

.hero__background {
  --center-gutter: 0;

  position: absolute;
  inset: auto 0 0 0;
  z-index: -1;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* tablet */
@media (min-width: 40em) {
  .hero {
    padding-top: 12.1875rem;
  }

  .hero__arrow {
    margin-top: 5.8125rem;
  }
}

/* desktop */
@media (min-width: 64em) {
  .hero {
    padding-bottom: 17rem;
  }
}
