.button {
  --box-radius: var(--size-100);
  --box-space: var(--space-100);
  --box-background: hsl(var(--color-fr-primary));
  --box-foreground: var(--color-white);

  --shadow-color-fr: var(--color-fr-primary);

  font-size: var(--fs-75);
  font-weight: var(--weight-black);
  line-height: var(--leading-200);
  transition-property: background, border, color;
  transition-duration: var(--transition-duration);
}

.button:hover,
.button:focus-visible {
  --box-background: var(--color-primary-bright);
}

.button[data-button-variant="text"] {
  padding: 0;
  background: none;
  color: var(--color-desaturated-blue);
}

.button[data-button-variant="text"]:hover,
.button[data-button-variant="text"]:focus-visible {
  color: var(--color-dark-blue);
}
