.card {
  --card-radius: var(--size-200);

  --box-space: 0;
  --box-radius: var(--card-radius);

  --container-space: var(--space-350) var(--space-400) var(--space-400)
    var(--space-400);

  --shadow-color-fr: var(--color-fr-blue);

  text-align: center;
}

.card > img:first-child {
  border-start-start-radius: var(--card-radius);
  border-start-end-radius: var(--card-radius);
}

.card h1 ~ * {
  --stack-space: var(--space-200);
}

.card h1 + * {
  --stack-space: var(--space-150);
}

.card ul:last-child {
  --stack-space: var(--space-300);

  line-height: 0;
}

@media (min-width: 40em) {
  .card {
  }
}
