/* Supports weights 100-900 */
@import "@fontsource-variable/inter";
/* Supports weights 400-700 */
@import "@fontsource-variable/lora";
/* Supports weights 200-900 */
@import "@fontsource-variable/inconsolata";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-050505: 0 0% 2%;
    --color-1F1F1F: 0 0% 12%;
    --color-2D2D2D: 0 0% 18%;
    --color-3A3A3A: 0 0% 23%;
    --color-757575: 0 0% 51%;
    --color-E9E9E9: 0 0% 91%;
    --color-F4F4F4: 0 0% 96%;
    --color-FFFFFF: 0 0% 100%;
    --color-A445ED: 274 82% 60%;
    --color-FF5252: 0 100% 66%;

    --font: "Inter Variable", sans-serif;

    --background: var(--color-FFFFFF);
    --foreground: var(--color-2D2D2D);
    --field: var(--color-F4F4F4);
  }

  [data-font="serif"] {
    --font: "Lora Variable", serif;
  }

  [data-font="mono"] {
    --font: "Inconsolata Variable", monospace;
  }

  [data-mode="dark"] {
    --background: var(--color-050505);
    --foreground: var(--color-FFFFFF);
    --field: var(--color-1F1F1F);
  }
}
