/* Supports weights 100-900 */
@import "@fontsource-variable/inter";
/* Supports weights 400-700 */
@import "@fontsource-variable/lora";
/* Supports weights 200-900 */
@import "@fontsource-variable/inconsolata";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font: "Inter Variable", sans-serif;
  }

  [data-font="serif"] {
    --font: "Lora Variable", serif;
  }

  [data-font="mono"] {
    --font: "Inconsolata Variable", monospace;
  }
}
