@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .message-layout {
    display: grid;
    grid-template-areas:
      "footer footer"
      "content content"
      "score mutate";
    grid-template-columns: auto 1fr;
    grid-template-rows: max-content 1fr max-content;
    gap: 1rem;
  }

  .message-layout__footer {
    grid-area: footer;
  }

  .message-layout__content {
    grid-area: content;
  }

  .message-layout__score {
    grid-area: score;
    display: grid;
    justify-content: start;
  }

  .message-layout__mutate {
    grid-area: mutate;
    align-self: center;
  }

  @screen tablet {
    .message-layout {
      grid-template-areas:
        "score footer mutate"
        "score content content";
      grid-template-columns: max-content 1fr auto;
      grid-template-rows: max-content 1fr;
    }

    .message-layout__score {
      margin-right: 0.5rem;
    }
  }
}
