body {
  --column-size: 84.5rem;
  --column-gutter: 1.5rem;

  font: var(--text-body);
  letter-spacing: var(--tracking-body);
  text-align: center;
}

footer {
  font: var(--text-footer-body);
  letter-spacing: var(--tracking-footer-body);
}

h1 {
  font: var(--text-h1);
  font-variation-settings: var(--settings-display);
  letter-spacing: var(--tracking-h1);
  text-transform: uppercase;
}

h2 {
  font: var(--text-h2);
  font-variation-settings: var(--settings-display);
  letter-spacing: var(--tracking-h2);
}

h3 {
  font: var(--text-h3);
  font-variation-settings: var(--settings-display);
  letter-spacing: var(--tracking-h3);
}

a {
  text-decoration: none;
}

[role="list"] {
  margin: 0;
  padding: 0;
}

/* tablet */
@media (min-width: 40em) {
  body {
    --column-gutter: 3rem;
  }

  h1 {
    font: var(--text-h1-desktop);
    font-variation-settings: var(--settings-display);
    letter-spacing: var(--tracking-h1-desktop);
  }

  h2 {
    font: var(--text-h2-desktop);
    font-variation-settings: var(--settings-display);
    letter-spacing: var(--tracking-h2-desktop);
  }
}
