---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <article>
    <img alt="" src="/icon-star.svg" />
    <h1>How did we do?</h1>
    <p>
      Please let us know how we did with your support request. All feedback is
      appreciated to help us improve our offering!
    </p>
    <form>
      <fieldset>
        <legend>Choose a rating:</legend>
        <label>
          <input type="radio" name="rating" value="1" />1
        </label>
        <label>
          <input type="radio" name="rating" value="2" />2
        </label>
        <label>
          <input type="radio" name="rating" value="3" />3
        </label>
        <label>
          <input type="radio" name="rating" value="4" />4
        </label>
        <label>
          <input type="radio" name="rating" value="5" />5
        </label>
      </fieldset>
      <button>Submit</button>
    </form>
  </article>
</BaseLayout>
