@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body {
		@apply bg-blue text-light-blue font-kumbh-sans text-body-1;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	:focus {
		outline-offset: 0.25rem;
	}
}

@layer components {
}
