@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body {
		@apply bg-blue font-main text-body-1 text-light-blue;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}

	:focus {
		outline-offset: 0.25rem;
	}
}

@layer components {
}
