.card {
  border-radius: 0.5rem;
  padding: 1.75rem;
  display: grid;
  text-align: start;
  font: var(--text-card-body);
  letter-spacing: var(--tracking-card-body);
  background: linear-gradient(
    to bottom,
    var(--card-color) 0.25rem,
    hsl(0 0% 100%) 0.25rem
  );
  box-shadow: 0 0.9375rem 1.875rem -0.6875rem hsl(213 47% 67% / 50%);
}

.card[data-tool="Supervisor"] {
  --card-color: var(--color-cyan);
}

.card[data-tool="Team Builder"] {
  --card-color: var(--color-red);
}

.card[data-tool="Karma"] {
  --card-color: var(--color-orange);
}

.card[data-tool="Calculator"] {
  --card-color: var(--color-blue);
}

.card > * + * {
  margin-top: 0.0625rem;
}

.card h2 {
  font: var(--text-card-heading);
  letter-spacing: normal;
}

.card img {
  margin-top: 2.0625rem;
  place-self: end;
  width: 3.5625rem;
}

/* desktop */
@media (min-width: 64em) {
  .card {
    padding: 2rem;
  }

  .card > * + * {
    margin-top: 0.375rem;
  }

  .card img {
    margin-top: 2.5rem;
    width: 4rem;
  }
}

@media (forced-colors: active) {
  .card {
    border: 2px solid;
  }
}
