.button {
  --color-background: var(--color-eucaplyptus);
  --color-foreground: var(--color-dark-purple);
  --shape-padding-block: var(--space-3);
  --shape-padding-inline: var(--space-6);
  --shape-thickness: var(--size-0-5);
  --shape-color: var(--color-eucaplyptus);

  display: inline-block;
  text-decoration: none;
  transition-property: background, color;
  transition-duration: var(
    --button-transition-duration,
    var(--transition-duration-deactivate)
  );
}

.button:hover,
.button:focus-visible {
  --button-transition-duration: var(--transition-duration-activate);

  --color-background: transparent;
  --color-foreground: var(--color-eucaplyptus);
}

/* desktop */
@media (min-width: 64em) {
  .button {
    --shape-padding-block: var(--space-4);
    --shape-padding-inline: var(--space-8);
  }
}
