.curved {
  isolation: isolate;
}

.curved [data-curved-container] {
  position: relative;
  isolation: isolate;
  z-index: -1;
}

.curved .curved-curve,
.curved .curved-border {
  --fill-color: var(--curved-color);

  display: block;
  inline-size: 100%;
  max-block-size: var(--size-17);
}

.curved .curved-border {
  --fill-color: currentColor;

  display: none;
  position: absolute;
  inset: 0;
  border-block-start: var(--size-0-5) solid currentColor;
  box-sizing: content-box;
  z-index: -1;
}

@media (forced-colors: active) {
  .curved .curved-curve {
    --fill-color: Canvas;
  }

  .curved .curved-border {
    display: block;
  }
}
