.hero {
  --hero-stage: var(--space-35);
  --hero-pull: var(--space-23);

  --center-size: var(--size-column);
  --center-gutter: var(--space-gutter);
  --color-background: var(--color-hero);
  --color-foreground: var(--color-white);
  --flow-space: var(--space-10);
  --underline-color: var(--color-hero-accent);

  text-align: center;
}

.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6 {
  color: inherit;
}

.hero [data-hero-stage] {
  padding-block-start: var(--space-8);
  padding-block-end: var(--hero-stage);
}

.hero [data-hero-pull] {
  margin-block-end: calc(-1 * var(--hero-pull));
}

.hero [data-hero-content] {
  --center-size: var(--size-116);
  --center-gutter: 0;
}

.hero [data-hero-decoration-1] {
  --position-offset-x: calc(-1 * var(--space-57));
  --position-offset-y: calc(-1 * var(--space-13));
  --size-block: var(--size-79);
}

.hero [data-hero-decoration-2] {
  --position-offset-x: var(--space-23);
  --position-offset-y: var(--space-32);
  --size-block: var(--size-45);
}

/* tablet */
@media (min-width: 40em) {
  .hero {
    --hero-stage: var(--space-42);
    --hero-pull: var(--space-37);
  }

  .hero [data-hero-stage] {
    padding-block-start: var(--space-6);
  }
}

/* desktop */
@media (min-width: 64em) {
  .hero {
    --hero-stage: var(--space-65);
    --hero-pull: var(--space-69);
  }

  .hero [data-hero-content] {
    --center-size: var(--size-159);
  }

  .hero [data-hero-decoration-1] {
    --position-offset-x: calc(-1 * var(--space-65));
    --position-offset-y: calc(-1 * var(--space-8));
  }

  .hero [data-hero-decoration-2] {
    --position-offset-x: var(--space-43);
    --position-offset-y: var(--space-42);
  }
}
