.phone {
  --center-size: var(--size-87);
  --center-gutter: var(--space-4);

  box-sizing: border-box;
  inline-size: 100%;
  block-size: auto;
}

/* tablet */
@media (min-width: 40em) {
  .phone {
    --center-size: var(--size-136);
  }
}

/* desktop */
@media (min-width: 64em) {
  .phone {
    --center-size: var(--size-199);
  }
}
