.card {
  --shape-radius: var(--size-4);
  --shape-background: var(--color-black-gradient);
  --shape-padding-inline: var(--space-6);
  --shape-padding-block: var(--space-6);
  --flow-space: var(--space-6);
}

.card[data-card-variant="form"] .card__heading {
  --flow-space: var(--space-4);
}

.card[data-card-variant="form"] .card__body {
  --flow-space: var(--space-2);
}

.card[data-card-variant="thank-you"] {
  --shape-padding-block: var(--space-9);

  text-align: center;
}

.card[data-card-variant="thank-you"] .card__image {
  --size-inline: var(--size-36);
  --flow-space: 0;
}

.card[data-card-variant="thank-you"] .card__body {
  --flow-space: var(--space-2);
}

/* tablet */
@media (min-width: 40em) {
  .card {
    --shape-radius: var(--size-7);
    --shape-padding-inline: var(--space-8);
    --shape-padding-block: var(--space-8);
  }

  .card[data-card-variant="form"] .card__heading {
    --flow-space: var(--space-7);
  }

  .card[data-card-variant="form"] .card__button {
    --flow-space: var(--space-8);
  }

  .card[data-card-variant="thank-you"] {
    --shape-padding-block: var(--space-11);
    --flow-space: var(--space-8);
  }

  .card[data-card-variant="thank-you"] .card__image {
    --size-inline: var(--size-40);
  }
}
