.bg-layer-1 {
  background-color: var(--color-background-layer-1);
}

.p-4 {
  padding: var(--space-4);
}

.pbe-10 {
  padding-block-end: var(--space-10);
}

.pli-4 {
  padding-inline: var(--space-4);
}

.is-full {
  inline-size: 100%;
}

.rounded-small {
  border-radius: var(--border-radius-small);
}

.shadow {
  box-shadow: var(--shadow);
}
