@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply font-kumbh-sans text-body bg-white text-dark-grayish-blue;
  }

  @screen tablet {
    body {
      @apply text-body-tablet;
    }
  }
}

@layer utilities {
  .center {
    box-sizing: content-box;
    margin-inline: auto;
    max-width: var(--center-size, 69.375rem);
  }

  .center-md {
    --center-size: 63.4375rem;
  }

  .center-sm {
    --center-size: 37.875rem;
  }

  .gutter {
    padding-inline: var(--gutter-size, 1.5rem);
  }

  .gutter-none {
    --gutter-size: 0;
  }

  @screen tablet {
    .gutter {
      --gutter-size: 2.5rem;
    }

    .gutter-none {
      --gutter-size: 0;
    }
  }
}
