---
// Supports weights 100-900
import "@fontsource-variable/epilogue";
import { screens } from "../utils/screens";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Intro section with dropdown navigation</title>
  </head>
  <body
    class="relative min-h-screen bg-pure-white font-base text-body-m text-medium-gray tablet:text-body-m-desktop desktop:bg-almost-white"
  >
    <header
      class="mx-auto box-content max-w-[85rem] px-4 pt-4 text-body-s tablet:px-10 tablet:pt-5 desktop:flex desktop:flex-wrap desktop:items-center desktop:gap-4 desktop:gap-x-16"
    >
      <img alt="Snap" src="/images/logo.svg" width="84" height="27" />
      <nav class="desktop:grow">
        <button
          class="group peer absolute right-2 top-[0.125rem] z-50 hidden h-12 w-12 place-content-center js:inline-grid tablet:right-10 tablet:top-[0.375rem] desktop:hidden js:desktop:hidden"
          type="button"
          aria-expanded="true"
          aria-disabled="true"
          data-menu-trigger
        >
          <img
            class="group-aria-expanded:hidden"
            alt="Open menu"
            src="/images/icon-menu.svg"
            width="32"
            height="18"
          />
          <img
            class="hidden group-aria-expanded:block"
            alt="Close menu"
            src="/images/icon-close-menu.svg"
            width="26"
            height="26"
          />
        </button>
        <div
          class="absolute inset-0 hidden bg-almost-black/75 max-desktop:js:peer-aria-expanded:block"
        >
        </div>
        <div
          class="py-20 max-desktop:right-0 max-desktop:top-0 max-desktop:hidden max-desktop:h-full max-desktop:w-full max-desktop:max-w-[15rem] max-desktop:overflow-y-auto max-desktop:bg-pure-white max-desktop:px-6 max-desktop:peer-aria-expanded:block js:max-desktop:absolute tablet:max-desktop:max-w-[18rem] tablet:max-desktop:px-10 desktop:flex desktop:flex-wrap desktop:items-center desktop:justify-between desktop:gap-4 desktop:py-0"
          data-menu
        >
          <ul
            class="flex flex-col gap-4 text-nav desktop:flex-row desktop:flex-wrap desktop:items-center desktop:gap-x-10 desktop:text-nav-desktop"
            role="list"
            data-nav
          >
            <li class="whitespace-nowrap desktop:relative">
              <button
                class="group peer inline-flex items-center gap-4 transition-colors aria-disabled:cursor-default hocus:text-almost-black"
                type="button"
                id="features-btn"
                aria-expanded="true"
                aria-disabled="true"
                data-dropdown-trigger
              >
                Features
                <svg
                  class="transition-transform group-aria-expanded:rotate-180"
                  width="10"
                  height="6"
                  aria-hidden="true"
                  focusable="false"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    stroke="currentColor"
                    stroke-width="1.5"
                    fill="none"
                    d="m1 1 4 4 4-4"></path></svg
                >
              </button>
              <ul
                class="mb-2 mt-6 hidden space-y-4 pl-6 peer-aria-expanded:block desktop:absolute desktop:right-0 desktop:my-0 desktop:mt-5 desktop:rounded-[0.625rem] desktop:bg-pure-white desktop:p-6 desktop:shadow-layer-1"
                role="list"
                aria-labelledby="features-btn"
              >
                <li class="flex">
                  <a
                    class="inline-grid grid-cols-[1.25rem_1fr] items-center gap-4 transition-colors hocus:text-almost-black desktop:grid-cols-[1rem_1fr]"
                    href="#"
                  >
                    <img
                      class="justify-self-center"
                      alt=""
                      src="/images/icon-todo.svg"
                      width="14"
                      height="16"
                    />
                     Todo List
                  </a>
                </li>
                <li class="flex">
                  <a
                    class="inline-grid grid-cols-[1.25rem_1fr] items-center gap-4 transition-colors hocus:text-almost-black desktop:grid-cols-[1rem_1fr]"
                    href="#"
                  >
                    <img
                      class="justify-self-center"
                      alt=""
                      src="/images/icon-calendar.svg"
                      width="16"
                      height="16"
                    /> Calendar
                  </a>
                </li>
                <li class="flex">
                  <a
                    class="inline-grid grid-cols-[1.25rem_1fr] items-center gap-4 transition-colors hocus:text-almost-black desktop:grid-cols-[1rem_1fr]"
                    href="#"
                  >
                    <img
                      class="justify-self-center"
                      alt=""
                      src="/images/icon-reminders.svg"
                      width="13"
                      height="17"
                    /> Reminders
                  </a>
                </li>
                <li class="flex">
                  <a
                    class="inline-grid grid-cols-[1.25rem_1fr] items-center gap-4 transition-colors hocus:text-almost-black desktop:grid-cols-[1rem_1fr]"
                    href="#"
                  >
                    <img
                      class="justify-self-center"
                      alt=""
                      src="/images/icon-planning.svg"
                      width="16"
                      height="16"
                    /> Planning
                  </a>
                </li>
              </ul>
            </li>
            <li class="whitespace-nowrap desktop:relative">
              <button
                class="group peer inline-flex items-center gap-4 transition-colors aria-disabled:cursor-default hocus:text-almost-black"
                type="button"
                id="company-btn"
                aria-expanded="true"
                aria-disabled="true"
                data-dropdown-trigger
              >
                Company
                <svg
                  class="transition-transform group-aria-expanded:rotate-180"
                  width="10"
                  height="6"
                  aria-hidden="true"
                  focusable="false"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    stroke="currentColor"
                    stroke-width="1.5"
                    fill="none"
                    d="m1 1 4 4 4-4"></path></svg
                >
              </button>
              <ul
                class="mb-2 mt-6 hidden space-y-4 pl-6 peer-aria-expanded:block desktop:absolute desktop:left-0 desktop:my-0 desktop:mt-5 desktop:rounded-[0.625rem] desktop:bg-pure-white desktop:p-6 desktop:shadow-layer-1"
                role="list"
                aria-labelledby="company-btn"
              >
                <li>
                  <a class="transition-colors hocus:text-almost-black" href="#"
                    >History</a
                  >
                </li>
                <li>
                  <a class="transition-colors hocus:text-almost-black" href="#">
                    Our Team
                  </a>
                </li>
                <li>
                  <a class="transition-colors hocus:text-almost-black" href="#">
                    Blog
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a class="transition-colors hocus:text-almost-black" href="#">
                Careers
              </a>
            </li>
            <li>
              <a class="transition-colors hocus:text-almost-black" href="#">
                About
              </a>
            </li>
          </ul>
          <ul
            class="mt-8 flex flex-col gap-4 text-center desktop:mt-0 desktop:flex-row desktop:flex-wrap desktop:items-center desktop:gap-x-10"
            role="list"
          >
            <li>
              <a class="transition-colors hocus:text-almost-black" href="#"
                >Login</a
              >
            </li>
            <li>
              <a
                class="block rounded-[0.875rem] border-[1.5px] px-[1.375rem] py-3 transition-colors hocus:text-almost-black"
                href="#">Register</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="mt-6 text-center tablet:mt-16 desktop:text-start">
      <div
        class="mx-auto box-content flex max-w-[73.75rem] flex-col-reverse desktop:grid desktop:grid-cols-2 desktop:items-center desktop:justify-items-end desktop:gap-8 desktop:px-10"
      >
        <div
          class="mt-12 px-4 desktop:mt-28 desktop:max-w-[33.75rem] desktop:px-0"
        >
          <h1
            class="text-heading-l text-almost-black tablet:text-heading-l-desktop desktop:max-w-[32.5rem]"
          >
            Make remote work
          </h1>
          <p class="mt-4 tablet:mt-12">
            Get your team in sync, no matter your location. Streamline
            processes, create team rituals, and watch productivity soar.
          </p>
          <p class="mt-6 tablet:mt-12">
            <a
              class="inline-block rounded-[0.9375rem] bg-almost-black px-[1.375rem] pb-[0.625rem] pt-3 text-button text-almost-white tablet:px-[1.875rem] tablet:pb-[0.8125rem] tablet:pt-[0.9375rem] tablet:text-button-desktop"
              href="#"
            >
              Learn more
            </a>
          </p>
          <h2 class="sr-only" id="clients-heading">Our clients</h2>
          <ul
            class="mt-12 flex flex-wrap items-center justify-between gap-4 tablet:mt-28 desktop:gap-x-10"
            role="list"
            aria-labelledby="clients-heading"
          >
            <li>
              <img
                alt="Databiz"
                src="/images/client-databiz.svg"
                width="114"
                height="20"
              />
            </li>
            <li>
              <img
                alt="Audiophile"
                src="/images/client-audiophile.svg"
                width="73"
                height="36"
              />
            </li>
            <li>
              <img
                alt="Meet"
                src="/images/client-meet.svg"
                width="90"
                height="20"
              />
            </li>
            <li>
              <img
                alt="Maker"
                src="/images/client-maker.svg"
                width="83"
                height="24"
              />
            </li>
          </ul>
        </div>
        <picture class="desktop:max-w-[30rem]">
          <source
            media=`(min-width: ${screens.desktop})`
            srcset="/images/image-hero-desktop.png"
            width="960"
            height="1280"
          />
          <img
            class="mx-auto desktop:mx-0"
            alt=""
            src="/images/image-hero-mobile.png"
            width="750"
            height="564"
          />
        </picture>
      </div>
    </main>
  </body>
</html>

<script>
  const $ = {
    body: document.body,
    menuTrigger: document.querySelector(
      "[data-menu-trigger]",
    ) as HTMLButtonElement,
    menu: document.querySelector("[data-menu]") as HTMLElement,
    nav: document.querySelector("[data-nav]") as HTMLElement,
    dropdownTriggers: [
      ...document.querySelectorAll("[data-dropdown-trigger]"),
    ] as HTMLButtonElement[],
  };

  // toggle navigation menu
  $.menuTrigger.addEventListener("click", (e) => {
    if (e.currentTarget instanceof Element) {
      const expanded = e.currentTarget.getAttribute("aria-expanded") === "true";
      e.currentTarget.setAttribute("aria-expanded", String(!expanded));
    }
  });
  // close menu if user clicks outside of it
  document.addEventListener("click", (e) => {
    if (!(e.target instanceof Node)) {
      return;
    }

    if (!$.menuTrigger.contains(e.target) && !$.menu.contains(e.target)) {
      $.menuTrigger.setAttribute("aria-expanded", "false");
    }
  });
  // close menu if element outside of it is focused
  document.addEventListener("focusin", () => {
    if (
      !$.menuTrigger.contains(document.activeElement) &&
      !$.menu.contains(document.activeElement)
    ) {
      $.menuTrigger.setAttribute("aria-expanded", "false");
    }
  });
  // enhance noscript version
  $.menuTrigger.setAttribute("aria-disabled", "false");
  $.menuTrigger.setAttribute("aria-expanded", "false");

  // close submenus on nav blur
  $.nav.addEventListener("focusout", (e) => {
    if (
      !(e.currentTarget instanceof Node) ||
      !(e.relatedTarget instanceof Node || e.relatedTarget === null)
    ) {
      return;
    }

    if (!e.currentTarget.contains(e.relatedTarget)) {
      $.dropdownTriggers.forEach(($trigger) => {
        $trigger.setAttribute("aria-expanded", "false");
      });
    }
  });

  $.dropdownTriggers.forEach(($trigger) => {
    const $controls = $trigger.nextSibling;
    if (!$controls) {
      console.error("Couldn't find controlled element of", $trigger);
      return;
    }

    // toggle submenu of clicked trigger
    $trigger.addEventListener("click", (e) => {
      if (e.currentTarget instanceof Element) {
        const expanded =
          e.currentTarget.getAttribute("aria-expanded") === "true";

        $.dropdownTriggers.forEach(($trigger) => {
          $trigger.setAttribute("aria-expanded", "false");
        });
        e.currentTarget.setAttribute("aria-expanded", String(!expanded));
      }
    });
    // close submenu on escape
    $trigger.addEventListener("keyup", (e) => {
      if (
        e.currentTarget instanceof Element &&
        e instanceof KeyboardEvent &&
        e.key === "Escape"
      ) {
        e.currentTarget.setAttribute("aria-expanded", "false");
      }
    });
    // close submenu on escape
    $controls.addEventListener("keyup", (e) => {
      if (e instanceof KeyboardEvent && e.key === "Escape") {
        $trigger.setAttribute("aria-expanded", "false");
        $trigger.focus();
      }
    });
    // enhance noscript version
    $trigger.setAttribute("aria-disabled", "false");
    $trigger.setAttribute("aria-expanded", "false");
  });

  $.body.dataset.js = "true";
</script>
