@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-#121725 text-center font-chivo text-body text-#C2CBE5 md:text-start md:text-body-tablet;

    color-scheme: dark;
  }

  svg {
    @apply max-w-full;
  }

  h1 {
    @apply text-title uppercase text-#54E6AF md:text-title-tablet lg:text-title-desktop;
  }

  h1 em {
    @apply not-italic text-#FFFFFF;
  }

  input,
  button {
    @apply text-widget;
  }

  button[type="submit"] {
    @apply rounded-full bg-#54E6AF px-7 py-2 text-center capitalize text-#121725 transition-colors hover:bg-#B3FFE2 focus-visible:bg-#B3FFE2 forced-colors:border-2;
  }
}

@layer utilities {
  .bucket * {
    fill: currentColor;
  }

  .outline-no {
    outline-style: none;
  }

  .outline-no:focus-visible {
    outline: 2px solid transparent;
  }
}
