@import "_reset.css";

@import "blocks/_card.css";
@import "blocks/_description.css";
@import "blocks/_qr-code.css";

@import "utilities/_box.css";
@import "utilities/_cover.css";
@import "utilities/_frame.css";
@import "utilities/_stack.css";
@import "utilities/_token.css";
@import "utilities/_wrapper.css";

@import "npm:@fontsource/outfit/400.css";
@import "npm:@fontsource/outfit/700.css";

:root {
  /* Global tokens */
  --font-family-sans-serif: "Outfit", sans-serif;
  --font-size-base-px: 16;
  --font-size-large-px: 22;
  --font-size-medium-px: 15;
  --font-line-height-large-px: 28;
  --font-line-height-medium-px: 19;
  --font-letter-spacing-medium-px: 0.1875;
  --font-style-normal: normal;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);

  --border-radius-small: 10px;
  --border-radius-large: 20px;

  --space-4: 16px;
  --space-6: 24px;
  --space-10: 40px;

  --size-80: 320px;

  --shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);

  /* Alias tokens */
  --font-family-heading: var(--font-family-sans-serif);
  --font-size-heading: calc(
    var(--font-size-large-px) / var(--font-size-base-px) * 1rem
  );
  --font-style-heading: var(--font-style-normal);
  --font-weight-heading: var(--font-weight-bold);
  --font-line-height-heading: calc(
    var(--font-line-height-large-px) / var(--font-size-large-px)
  );
  --font-family-body: var(--font-family-sans-serif);
  --font-size-body: calc(
    var(--font-size-medium-px) / var(--font-size-base-px) * 1rem
  );
  --font-style-body: var(--font-style-normal);
  --font-weight-body: var(--font-weight-normal);
  --font-line-height-body: calc(
    var(--font-line-height-medium-px) / var(--font-size-medium-px)
  );
  --font-letter-spacing-body: calc(
    var(--font-letter-spacing-medium-px) / var(--font-size-base-px) * 1rem
  );

  --color-background-base: var(--color-light-gray);
  --color-background-layer-1: var(--color-white);
  --color-heading: var(--color-dark-blue);
  --color-body: var(--color-grayish-blue);
}
