@import "_reset.css";

@import "blocks/_card.css";
@import "blocks/_description.css";
@import "blocks/_qr-code.css";

@import "utilities/_box.css";
@import "utilities/_cover.css";
@import "utilities/_frame.css";
@import "utilities/_stack.css";
@import "utilities/_token.css";
@import "utilities/_wrapper.css";

@import "npm:@fontsource/outfit/400.css";
@import "npm:@fontsource/outfit/700.css";

:root {
  --font-size-base-px: 16;

  /* Color styles */
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);

  /* Text styles - Heading */
  --font-size-heading-px: 22;
  --line-height-heading-px: 28;
  --font-family-heading: "Outfit", sans-serif;
  --font-style-heading: normal;
  --font-weight-heading: 700;
  --font-size-heading: calc(
    var(--font-size-heading-px) / var(--font-size-base-px) * 1rem
  );
  --line-height-heading: calc(
    var(--line-height-heading-px) / var(--font-size-heading-px)
  );

  /* Text styles - Body */
  --font-size-body-px: 15;
  --line-height-body-px: 19;
  --letter-spacing-body-px: 0.1875;
  --font-family-body: "Outfit", sans-serif;
  --font-style-body: normal;
  --font-weight-body: 400;
  --font-size-body: calc(
    var(--font-size-body-px) / var(--font-size-base-px) * 1rem
  );
  --line-height-body: calc(
    var(--line-height-body-px) / var(--font-size-body-px)
  );
  --letter-spacing-body: calc(
    var(--letter-spacing-body-px) / var(--font-size-base-px) * 1rem
  );

  /* Radius */
  --border-radius-small: 10px;
  --border-radius-large: 20px;

  /* Spacing */
  --space-4: 16px;
  --space-6: 24px;
  --space-10: 40px;

  /* Sizing */
  --size-80: 320px;

  /* Shadow */
  /* --shadow: box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518); */
  --shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
}
