---
import "@fontsource-variable/josefin-sans";
import { screens } from "../utils/screens";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Base Apparel coming soon page</title>
  </head>
  <body class="font-josefin text-body tablet:text-body-desktop">
    <header><img alt="base apparel" src="/images/logo.svg" /></header>
    <main>
      <h1 class="text-heading uppercase tablet:text-heading-desktop">
        We're <strong
          class="font-semi-bold tablet:leading-heading-strong-desktop"
          >coming soon</strong
        >
      </h1>
      <p>
        Hello fellow shoppers! We're currently building our new fashion store.
        Add your email below to stay up-to-date with announcements and our
        launch deals.
      </p>
      <form novalidate>
        <label for="email">Email Address</label>
        <!-- todo: value -->
        <!-- todo: autofocus -->
        <div>
          <input
            class="text-input tablet:text-input-desktop"
            id="email"
            type="email"
            autocomplete="email"
            name="email"
            placeholder="Email Address"
            required
            aria-invalid="true"
            aria-describedby="email-error"
          />
          <img alt="" src="/images/icon-error.svg" />
          <p class="text-error tablet:text-error-desktop" id="email-error">
            Please provide a valid email
          </p>
          <button type="submit">
            <img alt="submit" src="/images/icon-arrow.svg" />
          </button>
        </div>
      </form>
    </main>
    <aside>
      <picture>
        <source
          media={`(min-width: ${screens.tablet})`}
          width="610"
          height="800"
          srcset="/images/hero-desktop.jpg"
        />
        <img
          alt="woman wearing base apparel products"
          width="375"
          height="250"
          src="/images/hero-mobile.jpg"
        />
      </picture>
    </aside>
  </body>
</html>
