---
import "@fontsource-variable/josefin-sans";
import "../styles/global.css";
import { screens } from "../utils/screens";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Base Apparel coming soon page</title>
  </head>
  <body
    class="grid min-h-screen grid-cols-single text-center font-josefin text-body text-desaturated-red tablet:text-body-desktop desktop:place-content-center desktop:text-start"
  >
    <div class="layout">
      <header class="p-8 desktop:p-0 desktop:pt-16">
        <img
          class="h-5 w-auto tablet:h-8"
          alt="base apparel"
          width="158"
          height="33"
          src="/images/logo.svg"
        />
      </header>
      <aside class="desktop:relative">
        <picture>
          <source
            media={`(min-width: ${screens.desktop})`}
            width="610"
            height="800"
            srcset="/images/hero-desktop.jpg"
          />
          <img
            class="w-full object-cover desktop:absolute desktop:left-0 desktop:top-0 desktop:h-full desktop:w-full"
            alt="woman wearing base apparel products"
            width="375"
            height="250"
            src="/images/hero-mobile.jpg"
          />
        </picture>
      </aside>
      <main class="px-8 py-16 desktop:mt-32 desktop:p-0 desktop:pb-20">
        <h1 class="text-heading uppercase tablet:text-heading-desktop">
          We're <strong
            class="font-semi-bold text-dark-grayish-red tablet:leading-heading-strong-desktop"
            >coming soon</strong
          >
        </h1>
        <p class="mt-4 tablet:mt-8">
          Hello fellow shoppers! We're currently building our new fashion store.
          Add your email below to stay up-to-date with announcements and our
          launch deals.
        </p>
        <form class="mt-8 tablet:mt-10" novalidate>
          <label class="sr-only" for="email">Email Address</label>
          <!-- todo: value -->
          <!-- todo: autofocus -->
          <div class="submit-input">
            <input
              class="rounded-full border-1 border-desaturated-red/50 bg-transparent p-3 px-6 text-input text-dark-grayish-red placeholder:text-desaturated-red/50 aria-invalid:border-2 aria-invalid:border-soft-red tablet:p-4 tablet:px-8 tablet:text-input-desktop"
              id="email"
              type="email"
              autocomplete="email"
              name="email"
              placeholder="Email Address"
              required
              aria-invalid="true"
              aria-describedby="email-error"
            />
            <img
              class="w-6 self-center"
              alt=""
              width="24"
              height="24"
              src="/images/icon-error.svg"
            />
            <p
              class="pl-6 text-start text-error text-soft-red tablet:pl-8 tablet:text-error-desktop"
              id="email-error"
            >
              Please provide a valid email
            </p>
            <button
              class="relative isolate inline-grid place-content-center rounded-full bg-gradient-to-br from-gradient-2-from to-gradient-2-to p-4 px-7 shadow-xl shadow-desaturated-red before:absolute before:inset-0 before:-z-10 before:rounded-full before:opacity-50 before:transition-colors hover:before:bg-white focus-visible:before:bg-white forced-colors:border-1 tablet:p-5 tablet:px-12"
              type="submit"
            >
              <img
                class="w-2"
                alt="submit"
                width="12"
                height="20"
                src="/images/icon-arrow.svg"
              />
            </button>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
