.button-3 {
  --shape-radius: 9999px;
  --shape-background: transparent;
  --shape-padding-inline: var(--space-300);
  --shape-padding-block: var(--space-100);
  --layered-background-radius: 9999px;
  --layered-background-bottom: var(--color-4851ff-f02aa6);
  --layered-background-top: rgb(255 255 255 / 0%);
  --layered-background-transition-duration: var(
    --transition-duration-deactivate
  );

  border-radius: 9999px;
  display: inline-block;
  font-size: var(--text-body-s);
  line-height: var(--leading-body-m);
  color: var(--color-ffffff);
}

.button-3:hover,
.button-3:focus-visible {
  --layered-background-top: rgb(255 255 255 / 50%);
  --layered-background-transition-duration: var(--transition-duration-activate);

  color: var(--color-ffffff);
}

.button-3 > * {
  display: block;
}

/* desktop */
@media (min-width: 64em) {
  .button-3 {
    --shape-padding-inline: var(--space-400);
    --shape-padding-block: var(--space-150);

    font-size: var(--text-body-m);
  }
}
