.gradient-card {
  --shape-radius: var(--size-70);
  --shape-background: var(--color-f02aa6-ff6f48);
  --shape-block-size: 100%;
  --shape-padding-inline: var(--space-360);
  --shape-padding-block-start: var(--space-300);
  --shape-padding-block-end: var(--space-400);
}

/* todo: move to `shape` */
.gradient-card h2 {
  color: var(--color-ffffff);
}

/* tablet */
@media (min-width: 40em) {
  .gradient-card {
    --shape-padding-inline: var(--space-400);
    --shape-padding-block-start: var(--space-475);
  }
}

/* desktop */
@media (min-width: 64em) {
  .gradient-card {
    --shape-radius: var(--size-90);
    --shape-padding-block-start: var(--space-500);
    --shape-padding-block-end: var(--space-450);
  }
}
