.icon-card {
  --flow-space: var(--space-200);
  --icon-size: var(--size-260);
  --shape-radius: var(--size-70);
  --shape-background: var(--color-ffffff);
  --shape-padding-inline: var(--space-360);
  --shape-padding-block-start: var(--space-475);
  --shape-padding-block-end: var(--space-400);
  --shadow-value: 0 var(--size-175) var(--size-250) var(--color-06168d);
}

.icon-card h3 {
  --flow-space: 0;
}

.icon-card p:last-child {
  --flow-space: var(--space-300);
}

/* tablet */
@media (min-width: 40em) {
  .icon-card {
    --shape-padding-inline: var(--space-400);
    --shape-padding-inline-end: var(--space-280);
  }
}

/* desktop */
@media (min-width: 64em) {
  .icon-card {
    --flow-space: var(--space-300);
    --shape-radius: var(--size-90);
    --shape-padding-inline-end: var(--space-400);
    --shape-padding-block-start: var(--space-500);
    --shape-padding-block-end: var(--space-450);
  }
}
