---
import "../styles/reset.css";
import "../styles/variables.css";
import "../styles/fonts.css";
import "../styles/base.css";

import "../styles/compositions/center.css";
import "../styles/compositions/cluster.css";
import "../styles/compositions/cover.css";
import "../styles/compositions/flow.css";
import "../styles/compositions/middle.css";
import "../styles/compositions/reset.css";
import "../styles/compositions/shape.css";
import "../styles/compositions/size.css";
import "../styles/compositions/visually-hidden.css";

import "../styles/blocks/button.css";
import "../styles/blocks/card.css";
import "../styles/blocks/highlight.css";
import "../styles/blocks/icon.css";
import "../styles/blocks/rating.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <title>Frontend Mentor | Interactive rating component</title>
  </head>
  <body>
    <main class="cover">
      <div class="center">
        <slot />
      </div>
    </main>
  </body>
</html>
