.pricing {
  font: var(--text-pricing);
  letter-spacing: var(--tracking-pricing);
  border-radius: 0.625rem;
  padding: 1.125rem 1.5rem;
  background: var(--color-blue);
  box-shadow: 0 0.5rem hsl(var(--color-base-black) / 14.69%);
}

.pricing + * {
  margin-top: 1.5rem;
}

/* tablet */
@media (min-width: 40em) {
  .pricing {
    padding: 1.0625rem 2.5rem;
  }
}

@media (forced-colors: active) {
  .pricing {
    border: 1px solid;
  }
}
