.stats {
  margin-block-start: var(--space-10);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--space-6);
}

@screen md {
  .stats {
    margin-block-start: var(--space-18);
    flex-direction: row;
    gap: var(--space-15);
  }
}
