@use "./abstracts/mixins" as *;

:root {
  color-scheme: light;
}

body {
  font: var(--weight-regular) 0.8125rem / 1.5625rem var(--font);
  background: var(--color-body-background, var(--color-f6f8ff));
  color: var(--color-body-text, var(--color-4b6a9b));
}

[role="list"],
[role="list"] {
  margin: 0;
  padding: 0;
}

input {
  caret-color: var(--color-0079ff);
}

::placeholder {
  color: var(--color-placeholder, var(--color-4b6a9b));
}

/* tablet */
@media (min-width: 40em) {
  body {
    font: var(--text-body);
  }
}

@include dark-scheme-active() {
  color-scheme: dark;
  --color-body-background: var(--color-141d2f);
  --color-body-text: var(--color-ffffff);
  --color-placeholder: var(--color-ffffff);
  --color-header-title-text: var(--color-ffffff);
  --color-header-toggle-text: var(--color-ffffff);
  --color-header-toggle-text-focus: hsl(222 44% 70%);
  --color-search-background: var(--color-1e2a47);
  --color-search-shadow: transparent;
  --color-result-background: var(--color-1e2a47);
  --color-result-shadow: transparent;
  --color-result-name-text: var(--color-ffffff);
  --color-result-joined-text: var(--color-ffffff);
  --color-result-stats-background: var(--color-141d2f);
  --color-result-stats-text: var(--color-ffffff);
  --color-result-key-text: var(--color-ffffff);
}
