@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
		color-scheme: dark;
	}

	body {
		@apply bg-dark-navy text-white leading-120 text-16 tracking-5 tablet:text-20 desktop:text-26 font-base;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	:focus {
		outline-offset: 0.25rem;
	}
}
