---
import "@fontsource/dm-sans/400.css";
import "@fontsource/dm-sans/700.css";
import "../styles/global.css";
import data from "../data/data.json";

function getLongName(shortName: string) {
  if (shortName === "mon") {
    return "Monday";
  }
  if (shortName === "tue") {
    return "Tuesday";
  }
  if (shortName === "wed") {
    return "Wednesday";
  }
  if (shortName === "thu") {
    return "Thursday";
  }
  if (shortName === "fri") {
    return "Friday";
  }
  if (shortName === "sat") {
    return "Saturday";
  }
  if (shortName === "sun") {
    return "Sunday";
  }
  throw new Error(`Could not find long name for short name '${shortName}'`);
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Expenses chart component</title>
  </head>
  <body>
    <main>
      <h1 class="visually-hidden">Expenses</h1>
      <article>
        <header class="theme--soft-red">
          <h2 class="header__heading">My balance</h2>
          <p class="header__balance"><strong>$921.48</strong></p>
          <img
            class="header__logo"
            alt=""
            src="/images/logo.svg"
            width="72"
            height="48"
          />
        </header>
        <div class="theme--very-pale-orange">
          <h2 class="[ spending__heading ] [ color--dark-brown ]">
            Spending - Last 7 days
          </h2>
          <div>
            <ol role="list">
              {
                data.map((dayData) => {
                  const longName = getLongName(dayData.day);
                  return (
                    <li class="theme--dark-brown" tabindex="0">
                      <span class="visually-hidden">{longName}: </span>
                      {`$${dayData.amount}`}
                    </li>
                  );
                })
              }
            </ol>
            <div class="spending__caption" aria-hidden="true">
              {
                data.map((dayData) => {
                  return <p>{dayData.day}</p>;
                })
              }
            </div>
          </div>
          <h2 class="total__heading">Total this month</h2>
          <p class="[ total__sum ] [ color--dark-brown ]">
            <strong>$478.33</strong>
          </p>
          <p><b class="color--dark-brown">+2.4%</b> from last month</p>
        </div>
      </article>
    </main>
  </body>
</html>
