.header {
  --cluster-justify: space-around;
  --cluster-space: 1rem;

  border-bottom: 0.0625rem solid hsl(var(--color-FFFFFF) / 20%);
  padding-block: 1rem;
  padding-inline: var(--gutter);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header__name {
  @apply font-antonio;

  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: -0.065625rem;
  text-transform: uppercase;
}

.header__trigger {
  @apply transition-colors clickable-12;

  display: block;
}

.header__trigger[data-state="open"] {
  color: hsl(var(--color-FFFFFF) / 25%);
}

.header__nav {
  display: flex;
}

.header__links > * + * {
  border-top: 0.0625rem solid hsl(var(--color-FFFFFF) / 10%);
}

.header__link {
  @apply transition-colors;

  padding-block: 1.25rem;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0.085rem;
  text-transform: uppercase;
}

.header__link:hover,
.header__link:focus-visible {
  color: hsl(var(--color-FFFFFF));
}

.header__link-planet {
  border-top: 1.25rem solid var(--header-link-color);
  border-radius: 50%;
  width: 1.25rem;
  aspect-ratio: 1;
}

.header__link-icon {
  width: 0.375rem;
  height: 0.5rem;
  color: hsl(var(--color-FFFFFF) / 40%);
}

@screen tablet {
  .header {
    --cluster-space: 2rem;

    padding-block: 2rem 1.75rem;
    flex-direction: column;
    gap: 2.5rem;
  }

  .header__links {
    color: hsl(var(--color-FFFFFF) / 75%);
  }

  .header__links > * + * {
    border-top: none;
  }

  .header__link {
    @apply text-h4;

    padding-block: 0;
    display: block;
  }
}

@screen desktop {
  .header {
    --cluster-justify: start;

    padding-block: 0;
    flex-direction: row;
    gap: 1rem;
  }

  .header__name {
    transform: translateY(-0.1875rem);
  }

  .header__link {
    position: relative;
    isolation: isolate;
    padding-block: 2.0625rem 1.6875rem;
  }

  .header__link::before {
    @apply transition-opacity;

    content: "";
    opacity: 0;
    position: absolute;
    border-top: 0.25rem solid var(--header-link-color);
    inset: 0 0 auto 0;
  }

  .header__link:hover::before,
  .header__link:focus-visible::before {
    opacity: 1;
  }
}
