@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body {
		@apply bg-white text-body-3 text-grayish-violet font-base;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	:focus {
		outline-offset: 0.25rem;
	}
}

@layer components {
}
