---
import BaseLayout from "../../layouts/BaseLayout.astro";

const { rating } = Astro.params;
---

<BaseLayout>
  <article>
    <h1>Form submitted</h1>
    <img alt="" src="/illustration-thank-you.svg" />
    <p>You selected {rating} out of 5</p>
    <h2>Thank you!</h2>
    <p>
      We appreciate you taking the time to give a rating. If you ever need more
      support, don’t hesitate to get in touch!
    </p>
  </article>
</BaseLayout>
