---
import "../styles/index.css";
import { parseRegisterForm } from "../helpers/validation";
import { RegisterForm } from "../components/RegisterForm";
import type { Submission } from "@conform-to/react";

// note: using `conform-to/react` with `astro` is probably a bad idea, since Conform sometimes expects a Remix-like `action`

let lastSubmission: Submission | null = null;
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();

  const submission = parseRegisterForm(formData);
  if (submission.intent === "submit" && submission.value) {
    // todo: persist
    return Astro.redirect("/");
  }

  lastSubmission = {
    ...submission,
    payload: {
      "first-name": submission.payload["first-name"],
      "last-name": submission.payload["last-name"],
      "email-address": submission.payload["email-address"],
      // no password
    },
  };
}
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Intro component with sign up form</title>
  </head>
  <body>
    <main>
      <div class="intro">
        <h1>Learn to code by watching others</h1>
        <p>
          See how experienced developers solve problems in real-time. Watching
          scripted tutorials is great, but understanding how developers think is
          invaluable.
        </p>
      </div>
      <div class="register">
        <h2 class="sr-only">Claim your free trial</h2>
        <p class="pricing">
          <strong>Try it free 7 days</strong> then $20/mo. thereafter
        </p>
        <RegisterForm client:load lastSubmission={lastSubmission} />
      </div>
    </main>
  </body>
</html>
