@import "@fontsource/libre-baskerville/400.css";
@import "@fontsource/libre-baskerville/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-000000: hsl(0 0% 0%);
  --color-7D7D7D: hsl(0 0% 49%);
  --color-E5E5E5: hsl(0 0% 90%);
  --color-F3F3F3: hsl(0 0% 95%);
  --color-FFFFFF: hsl(0 0% 100%);

  --font-base: "Libre Baskerville", serif;
}

body {
  @apply text-body;

  font-family: var(--font-base);
  background: var(--color-FFFFFF);
  color: var(--color-7D7D7D);
}
