@import "@fontsource/libre-baskerville/400.css";
@import "@fontsource/libre-baskerville/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-000000: hsl(0 0% 0%);
  --color-7D7D7D: hsl(0 0% 49%);
  --color-E5E5E5: hsl(0 0% 90%);
  --color-F3F3F3: hsl(0 0% 95%);
  --color-FFFFFF: hsl(0 0% 100%);

  --font-base: "Libre Baskerville", serif;
}

body {
  @apply text-body;

  font-family: var(--font-base);
  background: var(--color-FFFFFF);
  color: var(--color-7D7D7D);
}

/* Compositions */

.screen {
  min-height: 100vh;
}

.repel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Blocks */

.header {
  border-bottom: 0.0625rem solid var(--color-E5E5E5);
  padding: 1.5rem;
}

.header__logo {
  --logo-size: 2rem;

  color: var(--color-000000);
}

.header__start {
  @apply text-link-2 transition-colors;

  text-transform: uppercase;
}

.header__start:hover,
.header__start:focus-visible {
  color: var(--color-000000);
}

@screen tablet {
  .header {
    padding: 1.75rem 2.5rem;
  }

  .header__start {
    @apply text-link-1;
  }
}

@screen desktop {
  .header {
    padding: 2.5rem;
  }

  .header__logo {
    --logo-size: 3rem;
  }
}

.logo {
  width: auto;
  height: var(--logo-size);
}
