@import "@fontsource/libre-baskerville/400.css";
@import "@fontsource/libre-baskerville/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-000000: 0 0% 0%;
  --color-7D7D7D: hsl(0 0% 49%);
  --color-E5E5E5: hsl(0 0% 90%);
  --color-F3F3F3: hsl(0 0% 95%);
  --color-FFFFFF: 0 0% 100%;

  --font-base: "Libre Baskerville", serif;
}

body {
  @apply text-body;

  font-family: var(--font-base);
  background: hsl(var(--color-FFFFFF));
  color: var(--color-7D7D7D);
}

/* Compositions */

.screen {
  min-height: 100vh;
}

.repel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-width: 85rem;
  padding-inline: var(--center-gutter);
}

.gallery {
  display: grid;
  grid-template-rows:
    15.625rem
    25rem
    17.8125rem
    15.625rem
    21.25rem
    17.5rem
    31.25rem
    15.625rem
    26.25rem
    16.25rem
    26.875rem
    16.25rem
    20.625rem
    32.8125rem
    21.25rem;
  gap: var(--gallery-gutter);
}

@screen tablet {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template:
      "one two" 15.625rem
      ". two" var(--gallery-gutter)
      "three two" 6.875rem
      "three ." var(--gallery-gutter)
      "three four" 8.4375rem
      ". four" var(--gallery-gutter)
      "five four" 4.6875rem
      "five ." var(--gallery-gutter)
      "five six" 14.0625rem
      ". six" var(--gallery-gutter)
      "seven six" 0.9375rem
      "seven ." var(--gallery-gutter)
      "seven eight" 15.625rem
      "seven ." var(--gallery-gutter)
      "seven ten" 9.6875rem
      ". ten" var(--gallery-gutter)
      "nine ten" 4.0625rem
      "nine ." var(--gallery-gutter)
      "nine eleven" 19.6875rem
      ". eleven" var(--gallery-gutter)
      "twelve eleven" 4.6875rem
      "twelve ." var(--gallery-gutter)
      "twelve thirteen" 9.0625rem
      ". thirteen" var(--gallery-gutter)
      "fourteen thirteen" 9.0625rem
      "fourteen ." var(--gallery-gutter)
      "fourteen fifteen" 21.25rem;
    gap: 0 var(--gallery-gutter);
  }

  .gallery > :nth-child(1) {
    grid-area: one;
  }

  .gallery > :nth-child(2) {
    grid-area: two;
  }

  .gallery > :nth-child(3) {
    grid-area: three;
  }

  .gallery > :nth-child(4) {
    grid-area: four;
  }

  .gallery > :nth-child(5) {
    grid-area: five;
  }

  .gallery > :nth-child(6) {
    grid-area: six;
  }

  .gallery > :nth-child(7) {
    grid-area: seven;
  }

  .gallery > :nth-child(8) {
    grid-area: eight;
  }

  .gallery > :nth-child(9) {
    grid-area: nine;
  }

  .gallery > :nth-child(10) {
    grid-area: ten;
  }

  .gallery > :nth-child(11) {
    grid-area: eleven;
  }

  .gallery > :nth-child(12) {
    grid-area: twelve;
  }

  .gallery > :nth-child(13) {
    grid-area: thirteen;
  }

  .gallery > :nth-child(14) {
    grid-area: fourteen;
  }

  .gallery > :nth-child(15) {
    grid-area: fifteen;
  }
}

@screen desktop {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-template:
      "one two three four" 15.625rem
      ". two three ." 2.1875rem
      ". two . ." 0.3125rem
      "five two . eight" 2.1875rem
      "five two seven eight" 4.6875rem
      "five . seven eight" 2.5rem
      "five six seven eight" 6.25rem
      "five six seven ." 2.5rem
      "five six seven eleven" 3.125rem
      ". six seven eleven" 2.5rem
      "nine six seven eleven" 3.125rem
      "nine . seven eleven" 2.5rem
      "nine ten seven eleven" 4.0625rem
      "nine ten . eleven" 2.5rem
      "nine ten fourteen eleven" 9.0625rem
      "nine ten fourteen ." 0.625rem
      "nine . fourteen ." 1.875rem
      "nine . fourteen fifteen" 0.625rem
      "nine thirteen fourteen fifteen" 1.875rem
      ". thirteen fourteen fifteen" 2.5rem
      "twelve thirteen fourteen fifteen" 16.25rem;
    gap: 0 var(--gallery-gutter);
  }
}

/* Blocks */

.header {
  border-bottom: 0.0625rem solid var(--color-E5E5E5);
  padding: 1.5rem;
}

.header__logo {
  --logo-size: 2rem;

  color: hsl(var(--color-000000));
}

.header__start {
  @apply text-link-2 transition-colors;

  text-transform: uppercase;
}

.header__start:hover,
.header__start:focus-visible {
  color: hsl(var(--color-000000));
}

@screen tablet {
  .header {
    padding: 1.75rem 2.5rem;
  }

  .header__start {
    @apply text-link-1;
  }
}

@screen desktop {
  .header {
    padding: 2.5rem;
  }

  .header__logo {
    --logo-size: 3rem;
  }
}

.logo {
  width: auto;
  height: var(--logo-size);
}

.home {
  --gallery-gutter: 1.5rem;
  --center-gutter: var(--gallery-gutter);

  padding-block: var(--gallery-gutter);
}

@screen tablet {
  .home {
    --gallery-gutter: 2.5rem;
  }
}

.card {
  position: relative;
  isolation: isolate;
  padding: 2rem;
  display: grid;
  place-items: end start;
  color: hsl(var(--color-FFFFFF));
}

.card::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: linear-gradient(
    to top,
    hsl(var(--color-000000) / 84%),
    hsl(var(--color-000000) / 0%) 10.625rem
  );
}

.card__name {
  @apply text-heading-2;
}

/* Active overlay */
.card__name::before {
  @apply transition-opacity;

  content: "";
  opacity: 0;
  position: absolute;
  z-index: -1;
  inset: 0;
  background: hsl(var(--color-FFFFFF));
}

.card__name:hover::before,
.card__name:focus-visible::before {
  opacity: 50%;
}

/* Clickable card */
.card__name::after {
  content: "";
  position: absolute;
  inset: 0;
}

.card__artist {
  @apply text-subheading-2;

  margin-top: 0.5rem;
  opacity: 75%;
}

.card__painting {
  position: absolute;
  z-index: -2;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
