.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.header__title {
  font: var(--text-h1);
  color: var(--color-header-title-text, hsl(220 18% 16%));
}

.header__toggle {
  --icon-width: 1.25rem;

  font: var(--text-h4);
  font-weight: var(--weight-bold);
  letter-spacing: 0.15625rem;
  text-transform: uppercase;
  border: none;
  padding: 0;
  background: transparent;
  color: var(--color-header-toggle-text, var(--color-4b6a9b));
}

.header__toggle:hover,
.header__toggle:focus-visible {
  color: var(--color-header-toggle-text-focus, hsl(220 18% 16%));
}
