.result {
  margin-top: 1rem;
  border-radius: 0.9375rem;
  padding: 2rem 1.5rem 3rem;
  display: grid;
  grid-template-areas:
    "avatar profile"
    "more more";
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 2rem 1.25rem;
  background: var(--color-result-background, var(--color-fefefe));
  box-shadow: 0 1rem 1.875rem -0.625rem var(--color-result-shadow, hsl(227 46%
          51% / 20%));
  transition: all var(--transition);
  transition-property: background-color, box-shadow;
}

.result [data-availability="unavailable"] {
  opacity: 75%;
}

.result__profile {
  grid-area: profile;
}

.result__more {
  grid-area: more;
}

.result__avatar {
  grid-area: avatar;
  border-radius: 9999px;
  width: 4.375rem;
}

.result__name {
  font: var(--weight-bold) 1rem / 1.5rem var(--font);
  outline: none;
  color: var(--color-result-name-text, var(--color-2b3442));
  transition: color var(--transition);
}

.result__login {
  font: var(--weight-regular) 0.8125rem / 1.1875rem var(--font);
  color: var(--color-0079ff);
}

.result__joined {
  margin-top: 0.375rem;
  color: var(--color-result-joined-text, var(--color-697c9a));
  transition: color var(--transition);
}

.result__stats {
  font: var(--weight-bold) 1rem / 1.5rem var(--font);
  text-align: center;
  margin-top: 1.5rem;
  border-radius: 0.625rem;
  padding: 1.125rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background: var(--color-result-stats-background, var(--color-f6f8ff));
  color: var(--color-result-stats-text, var(--color-2b3442));
  transition: background-color var(--transition);
}

.result__key {
  font: var(--weight-regular) 0.6875rem / 1rem var(--font);
  margin-bottom: 0.5rem;
  display: block;
  color: var(--color-result-key-text, var(--color-4b6a9b));
  transition: color var(--transition);
}

.result__details {
  --icon-width: 100%;

  margin-top: 1.5rem;
  display: grid;
  gap: 1rem;
}

.result__details a {
  text-decoration: none;
}

.result__details a:hover,
.result__details a:focus-visible {
  text-decoration: underline;
}

.result__details > [data-id="location"] {
  --icon-width: auto;
  --icon-height: 1.25rem;
}

.result__detail {
  display: grid;
  grid-template-columns: 1.25rem auto;
  align-items: center;
  gap: 0.75rem;
  transition: opacity var(--transition);
}

.result__detail[data-availability="unavailable"] {
  opacity: 50%;
}

/* tablet */
@media (min-width: 40em) {
  .result {
    margin-top: 1.5rem;
    padding: 2.5rem;
    gap: 1.5rem 2.5rem;
  }

  .result__name {
    font: var(--text-h1);
  }

  .result__login {
    font: var(--text-h3);
    margin-top: 0.125rem;
  }

  .result__joined {
    margin-top: 0.25rem;
  }

  .result__avatar {
    width: 7.3125rem;
  }

  .result__stats {
    font: var(--text-h2);
    text-align: start;
    margin-top: 2rem;
    padding: 1rem 2rem;
  }

  .result__key {
    font: var(--text-h4);
    margin-bottom: 0.0625rem;
  }

  .result__details {
    margin-top: 2rem;
    grid-template-areas:
      "location twitter"
      "blog company";
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }

  .result__details > [data-id="location"] {
    grid-area: location;
  }

  .result__details > [data-id="twitter"] {
    grid-area: twitter;
  }

  .result__details > [data-id="blog"] {
    grid-area: blog;
  }

  .result__details > [data-id="company"] {
    grid-area: company;
  }
}

/* desktop */
@media (min-width: 64em) {
  .result {
    padding: 3rem;
    grid-template-areas:
      "avatar profile"
      "avatar more";
    align-items: start;
    gap: 1.25rem 2.25rem;
  }

  .result__profile {
    display: grid;
    grid-template-areas:
      "name joined"
      "login login";
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
  }

  .result__name {
    grid-area: name;
  }

  .result__login {
    grid-area: login;
  }

  .result__joined {
    grid-area: joined;
    margin-top: 0;
  }

  .result__details {
    margin-top: 2.25rem;
  }
}
