.result {
  display: grid;
  grid-template-areas:
    "avatar profile"
    "more more";
  grid-template-columns: max-content 1fr;
  align-items: center;
  background: var(--color-result-background, var(--color-fefefe));
}

.result__profile {
  grid-area: profile;
}

.result__more {
  grid-area: more;
}

.result__avatar {
  grid-area: avatar;
  width: 4.375rem;
}

.result__name {
  font: var(--weight-bold) 1rem / 1.5rem var(--font);
  color: var(--color-result-name-text, var(--color-2b3442));
}

.result__login {
  font: var(--weight-regular) 0.8125rem / 1.1875rem var(--font);
  color: var(--color-0079ff);
}

.result__joined {
  color: var(--color-result-joined-text, var(--color-697c9a));
}

.result__stats {
  font: var(--weight-bold) 1rem / 1.5rem var(--font);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--color-result-stats-background, var(--color-f6f8ff));
  color: var(--color-result-stats-text, var(--color-2b3442));
}

.result__key {
  font: var(--weight-regular) 0.6875rem / 1rem var(--font);
  display: block;
  color: var(--color-result-key-text, var(--color-4b6a9b));
}

.result__detail {
  display: flex;
  align-items: center;
}

/* tablet */
@media (min-width: 40em) {
  .result__name {
    font: var(--text-h1);
  }

  .result__login {
    font: var(--text-h3);
  }

  .result__avatar {
    width: 7.3125rem;
  }

  .result__stats {
    font: var(--text-h2);
    text-align: start;
  }

  .result__key {
    font: var(--text-h4);
  }

  .result__details {
    display: grid;
    grid-template-areas:
      "location twitter"
      "blog company";
    grid-template-columns: repeat(2, 1fr);
  }

  .result__details > [data-id="location"] {
    grid-area: location;
  }

  .result__details > [data-id="twitter"] {
    grid-area: twitter;
  }

  .result__details > [data-id="blog"] {
    grid-area: blog;
  }

  .result__details > [data-id="company"] {
    grid-area: company;
  }
}

/* desktop */
@media (min-width: 64em) {
  .result {
    grid-template-areas:
      "avatar profile"
      "avatar more";
    align-items: start;
  }
}
