.article {
  padding-bottom: 3rem;
  display: grid;
  grid-template:
    "header header header"
    ". image ."
    ". heading ."
    ". content ."
    ". characteristics ." / var(--gutter) 1fr var(--gutter);
}

.article__header {
  grid-area: header;
}

.article__image {
  grid-area: image;
  justify-self: center;
  margin-top: 1.5rem;
  width: min(16rem, 100%);
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.article__heading {
  grid-area: heading;
  margin-top: 1.5rem;
}

.article__content {
  grid-area: content;
  margin-top: 1rem;
}

.article__characteristics {
  grid-area: characteristics;
  margin-top: 1.75rem;
}

@screen tablet {
  .article {
    margin-top: 1.75rem;
    padding-bottom: 2.25rem;
    grid-template:
      ". image image image ."
      ". heading . . ."
      ". content . header ."
      ". characteristics characteristics characteristics ." / minmax(
        var(--gutter),
        1fr
      )
      minmax(auto, 21.25rem) minmax(1rem, 4.3125rem) minmax(auto, 17.5rem) minmax(var(--gutter), 1fr);
  }

  .article__image {
    width: min(26.375rem, 100%);
  }

  .article__heading {
    margin-top: 0.75rem;
  }

  .article__content {
    margin-top: 1.5rem;
  }
}

@screen desktop {
  .article {
    margin-top: 4.375rem;
    padding-bottom: 3.5rem;
    grid-template:
      ". image . . ." 56fr
      ". image . heading ." auto
      ". image . content ." auto
      ". image . header ." auto
      ". image . . ." 69fr
      ". characteristics characteristics characteristics ." auto / minmax(
        var(--gutter),
        1fr
      )
      minmax(0, 41.75rem) minmax(1rem, 5.75rem) minmax(0, 21.875rem) minmax(var(--gutter), 1fr);
  }

  .article__header {
    margin-top: 2.5rem;
  }

  .article__image {
    margin-top: 0;
    width: min(41.75rem, 100%);
  }

  .article__heading {
    margin-top: 0;
  }

  .article__content {
    margin-top: 1.5rem;
  }
}

.header {
  border-bottom: 0.0625rem solid hsl(var(--color-FFFFFF) / 20%);
  padding-inline: var(--gutter);
}

.header__views {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.header__views > :nth-child(1) {
  display: grid;
  justify-content: start;
}

.header__views > :nth-child(2) {
  display: grid;
  justify-content: center;
}

.header__views > :nth-child(3) {
  display: grid;
  justify-content: end;
}

.header__view {
  position: relative;
  isolation: isolate;
  padding: 1.25rem 0.3125rem;
  display: block;
  font-size: 0.5625rem;
  font-weight: 700;
  line-height: 0.625rem;
  letter-spacing: 0.120625rem;
  text-transform: uppercase;
  color: hsl(var(--color-FFFFFF) / 50%);
}

.header__view[aria-current="page"] {
  color: hsl(var(--color-FFFFFF));
}

.header__view::before {
  @apply transition-opacity;

  content: "";
  opacity: 0;
  position: absolute;
  border-top: 0.25rem solid var(--planet-color);
  inset: auto 0 0 0;
  transform: translateY(0.0625rem);
}

.header__view[aria-current="page"]::before {
  opacity: 1;
}

@screen tablet {
  .header {
    border-bottom: none;
    padding-inline: 0;
  }

  .header__views {
    grid-template-columns: none;
    justify-content: normal;
    gap: 1rem;
  }

  .header__views > :nth-child(1) {
    justify-content: normal;
  }

  .header__views > :nth-child(2) {
    justify-content: normal;
  }

  .header__views > :nth-child(3) {
    justify-content: normal;
  }

  .header__view {
    @apply transition-colors;

    border: 0.0625rem solid hsl(var(--color-FFFFFF) / 20%);
    padding-block: 0.4375rem 0.375rem;
    padding-inline: 1.1875rem;
    display: grid;
    grid-template-columns: 1.875rem 1fr;
    line-height: 1.5625rem;
    color: hsl(var(--color-FFFFFF));
  }

  .header__view:hover,
  .header__view:focus-visible {
    background: hsl(0 0% 85% / 20%);
  }

  .header__view[aria-current="page"] {
    border-color: transparent;
    background: var(--planet-color);
  }

  .header__view::before {
    display: none;
  }

  .header__view-number {
    color: hsl(var(--color-FFFFFF) / 50%);
  }
}

@screen desktop {
  .header__view {
    @apply text-h3;

    padding-block: 0.6875rem 0.625rem;
    padding-inline: 1.6875rem;
    grid-template-columns: 2.875rem 1fr;
  }
}

.planet__name {
  @apply font-antonio text-h2;

  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}

.planet__content {
  text-align: center;
}

@screen tablet {
  .planet__name {
    font-size: 3rem;
    line-height: 3.875rem;
    text-align: start;
  }

  .planet__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: start;
  }
}

@screen desktop {
  .planet__name {
    @apply text-h1;
  }
}

.source {
  margin-top: 2rem;
  font-size: 0.75rem;
  line-height: 1.5625rem;
  color: hsl(var(--color-FFFFFF) / 50%);
}

.source__key {
  display: inline;
}

.source__value {
  display: inline-flex;
  gap: 0.25rem;
  font-weight: 700;
  text-decoration: underline;
}

.source__icon {
  width: 0.75rem;
  aspect-ratio: 1;
}

@screen tablet {
  .source {
    margin-top: auto;
  }
}

@screen tablet {
  .source {
    font-size: 0.875rem;
    line-height: 1.5625rem;
  }
}

.chars {
  display: grid;
  gap: 0.5rem;
}

.char {
  border: 0.0625rem solid hsl(var(--color-FFFFFF) / 20%);
  padding-block: 0.5rem 0.75rem;
  padding-inline: 1.4375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.char__key {
  font-size: 0.5rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.045625rem;
  color: hsl(var(--color-FFFFFF) / 50%);
}

.char__value {
  @apply font-antonio;

  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.625rem;
  letter-spacing: -0.046875rem;
}

@screen tablet {
  .chars {
    grid-template-columns: repeat(4, 1fr);
  }

  .char {
    padding: 0.9375rem;
    padding-bottom: 1.125rem;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }

  .char__value {
    font-size: 1.5rem;
    line-height: 1.9375rem;
    letter-spacing: -0.05625rem;
  }
}

@screen desktop {
  .char {
    padding: 1.1875rem 1.375rem;
    padding-bottom: 1.625rem;
    gap: 0.25rem;
  }

  .char__key {
    @apply text-h4;
  }

  .char__value {
    @apply text-h2;
  }
}
