---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Four card feature section</title>
  </head>
  <body>
    <main>
      <h1>Reliable, efficient delivery <em>Powered by Technology</em></h1>
      <p>
        Our Artificial Intelligence powered tools use millions of project data
        points to ensure that your project is successful
      </p>
      <article>
        <h2>Supervisor</h2>
        <p>Monitors activity to identify project roadblocks</p>
      </article>
      <article>
        <h2>Team Builder</h2>
        <p>
          Scans our talent network to create the optimal team for your project
        </p>
      </article>
      <article>
        <h2>Karma</h2>
        <p>Regularly evaluates our talent to ensure quality</p>
      </article>
      <article>
        <h2>Calculator</h2>
        <p>Uses data from past projects to provide better delivery estimates</p>
      </article>
    </main>
  </body>
</html>
