---
import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Four card feature section</title>
  </head>
  <body>
    <main>
      <article class="hero">
        <h1>Reliable, efficient delivery <em>Powered by Technology</em></h1>
        <p>
          Our Artificial Intelligence powered tools use millions of project data
          points to ensure that your project is successful
        </p>
      </article>
      <article class="cards">
        {
          [
            {
              name: "Supervisor",
              description: "Monitors activity to identify project roadblocks",
              icon: "/images/icon-supervisor.svg",
            },
            {
              name: "Team Builder",
              description:
                "Scans our talent network to create the optimal team for your project",
              icon: "/images/icon-team-builder.svg",
            },
            {
              name: "Karma",
              description: "Regularly evaluates our talent to ensure quality",
              icon: "/images/icon-karma.svg",
            },
            {
              name: "Calculator",
              description:
                "Uses data from past projects to provide better delivery estimates",
              icon: "/images/icon-calculator.svg",
            },
          ].map((tool) => {
            return (
              <article class="card" data-tool={tool.name}>
                <h2>{tool.name}</h2>
                <p>{tool.description}</p>
                <img alt="" src={tool.icon} />
              </article>
            );
          })
        }
      </article>
    </main>
  </body>
</html>
