@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-0B0D17 text-D0D6F9 font-barlow desktop:text-body-text;

  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

@screen tablet {
  body {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.dot::before {
  --dot-size: 0.625rem;

  content: "";
  display: block;
  width: var(--dot-size);
  height: var(--dot-size);
  border-top: var(--dot-size) solid;
  border-radius: 50%;
}

@screen desktop {
  .dot::before {
    --dot-size: 0.9375rem;
  }
}
