@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-0B0D17 text-D0D6F9 font-barlow;

  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

@screen tablet {
  body {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

@screen desktop {
  body {
    @apply text-body-text;
  }
}

.background {
  --body-background-url: url("/assets/home/background-home-mobile.jpg");

  min-height: 100vh;
  background: var(--body-background-url) center/cover no-repeat;
}

.background[data-name="destination"] {
  --body-background-url: url("/assets/destination/background-destination-mobile.jpg");
}

.background[data-name="crew"] {
  --body-background-url: url("/assets/crew/background-crew-mobile.jpg");
}

.background[data-name="technology"] {
  --body-background-url: url("/assets/technology/background-technology-mobile.jpg");
}

@screen tablet {
  .background {
    --body-background-url: url("/assets/home/background-home-tablet.jpg");
  }

  .background[data-name="destination"] {
    --body-background-url: url("/assets/destination/background-destination-tablet.jpg");
  }

  .background[data-name="crew"] {
    --body-background-url: url("/assets/crew/background-crew-tablet.jpg");
  }

  .background[data-name="technology"] {
    --body-background-url: url("/assets/technology/background-technology-tablet.jpg");
  }
}

@screen desktop {
  .background {
    --body-background-url: url("/assets/home/background-home-desktop.jpg");
  }

  .background[data-name="destination"] {
    --body-background-url: url("/assets/destination/background-destination-desktop.jpg");
  }

  .background[data-name="crew"] {
    --body-background-url: url("/assets/crew/background-crew-desktop.jpg");
  }

  .background[data-name="technology"] {
    --body-background-url: url("/assets/technology/background-technology-desktop.jpg");
  }
}

.header {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
}

@screen desktop {
  .header {
    padding-inline: 40px;
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(auto, 69.25rem) 1fr;
    align-items: center;
  }
}

@screen tablet {
  .glassy__surface {
    @apply bg-FFFFFF/5;

    backdrop-filter: blur(22px);
  }
}

@screen desktop {
  .glassy {
    overflow: hidden;
  }

  .glassy__surface {
    position: relative;
    isolation: isolate;
    background: none;
    backdrop-filter: none;
  }

  .glassy__surface::before {
    @apply bg-FFFFFF/5;

    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100vw;
    backdrop-filter: blur(22px);
  }
}

.explore-btn {
  @apply transition-shadow;
}

.explore-btn:focus-visible,
.explore-btn:hover {
  --explore-btn-shadow-size: 3rem;

  box-shadow: 0 0 0 var(--explore-btn-shadow-size) hsl(0 0% 100% / 10%);
}

@screen tablet {
  .explore-btn:focus-visible,
  .explore-btn:hover {
    --explore-btn-shadow-size: 5rem;
  }
}

@screen desktop {
  .explore-btn:focus-visible,
  .explore-btn:hover {
    --explore-btn-shadow-size: 5.5rem;
  }
}

.dot::before {
  --dot-size: 0.625rem;

  content: "";
  display: block;
  width: var(--dot-size);
  height: var(--dot-size);
  border-top: var(--dot-size) solid;
  border-radius: 50%;
}

@screen desktop {
  .dot::before {
    --dot-size: 0.9375rem;
  }
}

.destination-layout {
  display: grid;
  grid-template-areas:
    "image"
    "nav"
    "text";
}

.destination-layout__nav {
  grid-area: nav;
}

.destination-layout__text {
  grid-area: text;
}

.destination-layout__image {
  grid-area: image;
}

@screen desktop {
  .destination-layout {
    grid-template-areas:
      "image nav"
      "image text";
    grid-template-columns: minmax(0, 31.8125rem) minmax(0, 27.8125rem);
    grid-template-rows: max-content 1fr;
    justify-content: space-between;
    column-gap: 3rem;
  }

  .destination-layout__image {
    grid-area: image;
    place-self: end;
  }
}

@screen desktop {
  .technology-layout {
    display: grid;
    grid-template-areas:
      ". . . . image"
      "nav . text . image";
    grid-template-columns:
      max-content 80fr minmax(auto, 29.375rem)
      130fr
      21.875rem;
    grid-template-rows: 6.9375rem 1fr;
    column-gap: 1rem;
  }

  .technology-layout__nav {
    grid-area: nav;
  }

  .technology-layout__text {
    grid-area: text;
  }

  .technology-layout__image {
    grid-area: image;
  }
}

.crew-layout__text {
  margin-top: 2rem;
}

.crew-layout__nav {
  margin-top: 2rem;
}

@screen tablet {
  .crew-layout__text {
    margin-top: 0;
  }

  .crew-layout__nav {
    margin-top: 2.5rem;
  }
}

@screen desktop {
  .crew-layout {
    display: grid;
    grid-template-areas:
      "text image"
      "nav image";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr max-content;
    column-gap: 1rem;
  }

  .crew-layout__text {
    grid-area: text;
    margin: 9.625rem 0 0;
  }

  .crew-layout__image {
    grid-area: image;
    align-self: end;
  }

  .crew-layout__nav {
    grid-area: nav;
    margin: 5rem 0 0;
    padding-bottom: 5.875rem;
  }
}
