@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-0B0D17 text-D0D6F9 font-barlow desktop:text-body-text;

  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

@screen tablet {
  body {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.dot::before {
  --dot-size: 0.625rem;

  content: "";
  display: block;
  width: var(--dot-size);
  height: var(--dot-size);
  border-top: var(--dot-size) solid;
  border-radius: 50%;
}

@screen desktop {
  .dot::before {
    --dot-size: 0.9375rem;
  }
}

@screen desktop {
  .technology-layout {
    display: grid;
    grid-template-areas:
      ". . . . image"
      "nav . text . image";
    grid-template-columns:
      max-content 80fr minmax(auto, 29.375rem)
      130fr
      21.875rem;
    grid-template-rows: 6.9375rem 1fr;
    column-gap: 1rem;
  }

  .technology-layout__nav {
    grid-area: nav;
  }

  .technology-layout__text {
    grid-area: text;
  }

  .technology-layout__image {
    grid-area: image;
  }
}
