---
import "../styles/global.css";
import Form from "../components/Form";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- displays site properly based on user's device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <title>Frontend Mentor | Tip calculator app</title>
  </head>
  <body>
    <main class="calculator">
      <div class="center cover">
        <h1 class="sr-only">Tip calculator app</h1>
        <Form client:load />
      </div>
    </main>

    <!--
	Bill

  Select Tip %
  5%
  10%
  15%
  25%
  50%
  Custom

  Number of People

  Tip Amount
  / person

  Total
  / person

  Reset
-->
  </body>
</html>
