---
import FacebookIcon from "../components/IconFacebook.astro";
import InstagramIcon from "../components/IconInstagram.astro";
import TwitterIcon from "../components/IconTwitter.astro";
import LogoIcon from "./IconLogo.astro";

interface Props {
  theme?: "gold";
}

const { theme } = Astro.props;

const socials = [
  {
    name: "Modern Art Gallery on Facebook",
    href: "https://www.facebook.com/",
    icon: FacebookIcon,
  },
  {
    name: "Modern Art Gallery on Instagram",
    href: "https://www.instagram.com/",
    icon: InstagramIcon,
  },
  {
    name: "Modern Art Gallery on Twitter",
    href: "https://twitter.com/",
    icon: TwitterIcon,
  },
];
---

<footer data-theme={theme}>
  <p>
    <LogoIcon />
    <span class="sr-only">Modern Art Gallery</span>
  </p>
  <p>
    The Modern Art Gallery is free to all visitors and open seven days a week
    from <time datetime="08:00">8am</time> to <time datetime="21:00">9pm</time>.
    Find us at 99 King Street, Newport, USA.
  </p>
  <ul>
    {
      socials.map((social) => {
        // todo: viewBox, currentColor?
        return (
          <li>
            <a href={social.href}>
              <social.icon />
              <span class="sr-only">{social.name}</span>
            </a>
          </li>
        );
      })
    }
  </ul>
</footer>

<style>
  footer {
    font: var(--weight-light) 1rem / 1.625rem var(--font-body);
    background: var(--color-almost-black);
    color: var(--color-white);
  }

  footer[data-theme="gold"] {
    background: var(--color-gold);
    color: var(--color-almost-black);
  }

  footer[data-theme="gold"] a:focus-visible,
  footer[data-theme="gold"] a:hover {
    color: var(--color-white);
  }

  a:focus-visible,
  a:hover {
    @apply transition-colors;

    color: var(--color-gold);
  }

  @screen desktop {
    footer {
      font: var(--text-body-s);
    }
  }
</style>
