:root {
  /* Primary */
  --color-strong-cyan: hsl(172 67% 45%);
  /* Neutral */
  --color-very-dark-cyan: hsl(183 100% 15%);
  --color-dark-grayish-cyan: hsl(186 14% 43%);
  --color-grayish-cyan: hsl(184 14% 56%);
  --color-light-grayish-cyan: hsl(185 41% 84%);
  --color-very-light-grayish-cyan: hsl(189 41% 97%);
  --color-white: hsl(0 0% 100%);

  --weight-bold: 700;

  --font: "Space Mono", sans-serif;

  --text-body: var(--weight-bold) 1rem / 1.5rem var(--font);
  --text-radio: var(--weight-bold) 1.5rem / 2.25rem var(--font);
}
