.showcase {
  --showcase-gutter: 0px;

  --center-gutter: var(--showcase-gutter);
  --deck-space: var(--space-12);
  --deck-card-1-size: var(--size-52);
}

.showcase > * {
  --center-size: var(--size-228);
}

.showcase [data-showcase-background] {
  --position-offset-inline: 0px;
  --position-offset-block: var(--space-25);
  --shape-radius: var(--size-3);
  --shape-background: var(--color-191826);
  --size-inline: calc(100% - (var(--showcase-gutter) * 2));
  --size-block: var(--size-150);
}

.showcase [data-showcase-background-decoration] {
  --position-offset-inline: 0px;
  --position-offset-block: 0px;
  --size-inline: var(--size-70);
  --size-block: auto;
}

/* tablet */
@media (min-width: 40em) {
  .showcase {
    --showcase-gutter: var(--gutter);

    --deck-top: var(--space-72);
    --deck-card-1-size: var(--size-67);
    --deck-card-2-size: var(--size-100);
  }

  .showcase > * {
    --center-gutter: var(--space-16);
  }

  .showcase [data-showcase-background] {
    --position-offset-block: var(--space-35);
  }

  .showcase [data-showcase-background-decoration] {
    --position-offset-inline: var(--space-4);
    --position-offset-block: calc(-1 * var(--space-8));
  }
}

/* desktop */
@media (min-width: 64em) {
  .showcase {
    --deck-top: var(--space-76);
    --deck-card-1-size: var(--size-78);
    --deck-card-2-size: var(--size-112);
  }

  .showcase [data-showcase-background] {
    --position-offset-block: var(--space-53);
  }

  .showcase [data-showcase-background-decoration] {
    --position-offset-inline: calc(-1 * var(--space-16));
    --position-offset-block: calc(-1 * var(--space-11));
    --size-inline: var(--size-78);
  }
}
