.card {
  @apply bg-pure-white rounded-large;
  display: flex;
}

.card > picture {
  order: -1;
}

/* 
  Image sizing
  Mobile: Static height
  Desktop: Image is removed from flow so that its height is derived from the text content of the card
*/
.card > picture img {
  @apply bs-60;
  inline-size: 100%;
}

@media screen(sm) {
  .card > picture {
    position: relative;
    block-size: auto;
  }

  .card > picture img {
    position: absolute;
    block-size: 100%;
  }
}

/* Image border radius */
.card > picture,
.card > picture img {
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
}

@media screen(sm) {
  .card > picture,
  .card > picture img {
    border-start-start-radius: inherit;
    border-start-end-radius: initial;
    border-end-start-radius: inherit;
  }
}
