.card {
  @apply bg-pure-white rounded-large;
  display: flex;
}

.card > picture {
  order: -1;
}

.card > picture,
.card > picture img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card > picture img {
  @apply bs-60;
  inline-size: 100%;
}

@media screen(sm) {
  .card > picture,
  .card > picture img {
    border-top-left-radius: inherit;
    border-top-right-radius: initial;
    border-bottom-left-radius: inherit;
  }

  .card > picture img {
    block-size: 100%;
  }
}
