---
import "../styles/global.css";
import App from "../components/App";
import { getUser, parse } from "../data/user";

let username = "octocat";
let error: string | undefined;
let focusUserHeading = false;
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const result = parse(formData);
  if (typeof result.error === "string") {
    error = result.error;
  } else {
    username = result.data.username;
    focusUserHeading = true;
  }
}

const response = await getUser(username);
const user = response.data;
error = response.error?.message;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <title>Frontend Mentor | GitHub user search app</title>
  </head>
  <body>
    <div class="center region">
      <header class="header">
        <p class="header__title">devfinder</p>
        <!-- todo: "change to ..." name, toggle button? -->
        <form hidden>
          <button class="header__toggle" type="submit">
            Light <img alt="" src="/assets/icon-sun.svg" />
             Dark <img alt="" src="/assets/icon-moon.svg" />
          </button>
        </form>
      </header>
      <App
        client:load
        user={user}
        error={error}
        focusUserHeading={focusUserHeading}
      />
    </div>
  </body>
</html>
