body {
  --background-color: var(--color-pale-blue);
  --column-size: var(--size-700);
  --color-layer-1: var(--color-white);
  --color-fr-primary: var(--color-fr-bright-blue);
  --color-primary-bright: var(--color-brighter-blue);
  --transition-duration: 150ms;

  --padding-block: var(--space-600);
  --background-image: url("/src/images/pattern-background-mobile.svg");

  --center-space: var(--space-250);

  padding-block: var(--padding-block);
  font-family: var(--font);
  font-size: var(--fs-75);
  font-weight: var(--weight-medium);
  line-height: var(--leading-300);
  color: var(--color-desaturated-blue);
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-size: var(--fs-300);
  font-weight: var(--weight-black);
  line-height: var(--leading-400);
  color: var(--color-dark-blue);
}

strong {
  font-weight: var(--weight-black);
  color: var(--color-dark-blue);
}

button {
  border: none;
}

ul[role="list"] {
  margin: 0;
  padding: 0;
}

@media (min-width: 40em) {
  body {
    --padding-block: var(--space-700);
    --background-image: url("/src/images/pattern-background-desktop.svg");

    font-size: var(--fs-100);
    line-height: var(--leading-325);
  }

  h1 {
    font-size: var(--fs-400);
    line-height: var(--leading-700);
  }
}
