body {
  --background-color: var(--color-pale-blue);
  --column-size: var(--size-700);
  --color-layer-1: var(--color-white);
  --color-fr-primary: var(--color-fr-bright-blue);

  --background-image: url("/src/images/pattern-background-mobile.svg");

  font-family: var(--font);
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: 40em) {
  body {
    --background-image: url("/src/images/pattern-background-desktop.svg");
  }
}

button {
  border: none;
}

ul[role="list"] {
  padding: 0;
}
