body {
  --text-heading-xl: var(--text-500);
  --text-heading-l: var(--text-400);
  --text-heading-m: var(--text-200);
  --text-body: var(--text-100);
  --leading-heading-xl: var(--leading-500);
  --leading-heading-l: var(--leading-400);
  --leading-heading-m: var(--leading-200);
  --leading-body: var(--leading-100);

  background: var(--color-very-light-blue);
  font-family: var(--font);
  font-size: var(--text-body);
  font-weight: var(--weight-medium);
  line-height: var(--leading-body);
  color: var(--color-dark-navy);
}

h1,
h2 {
  font-size: var(--text-heading-m);
  font-weight: var(--weight-bold);
  line-height: var(--leading-heading-m);
}

strong {
  font-weight: var(--weight-bold);
}

button {
  font-size: var(--text-200);
  font-weight: var(--weight-bold);
  line-height: var(--leading-200);
}

/* tablet */
@media (min-width: 40em) {
  body {
    --text-heading-m: var(--text-300);
    --text-body: var(--text-200);
    --leading-heading-m: var(--leading-300);
    --leading-body: var(--leading-200);
  }
}
