:root {
  --color-gradient-1: linear-gradient(hsl(252 100% 67%), hsl(241 81% 54%));
  --color-gradient-2: linear-gradient(hsl(256 71% 46%), hsl(241 71% 46% / 0%));
  --color-yellow: hsl(40 100% 56%);
  --color-blue: hsl(234 85% 45%);
  --color-green: hsl(166 100% 37%);
  --color-red: hsl(0 100% 67%);
  --color-dark-navy: hsl(223 30% 27%);
  --color-light-blue: hsl(241 100% 89%);
  --color-very-light-blue: hsl(220 100% 96%);
  --color-white: hsl(0 0% 100%);

  --font: "Hanken Grotesk", sans-serif;

  --weight-medium: 500;
  --weight-bold: 700;
  --weight-extra-bold: 800;

  --text-500: 4.5rem; /* 72px */
  --text-400: 2rem; /* 32px */
  --text-300: 1.5rem; /* 24px */
  --text-200: 1.125rem; /* 18px */
  --text-100: 1rem; /* 16px */

  --leading-500: 4.5rem; /* 72px */
  --leading-400: 2.625rem; /* 42px */
  --leading-300: 1.9375rem; /* 31px */
  --leading-200: 1.4375rem; /* 23px */
  --leading-100: 1.3125rem; /* 21px */

  --size-3: 0.75rem; /* 12px */
  --size-8: 2rem; /* 32px */
  --size-35: 8.75rem; /* 140px */
  --size-50: 12.5rem; /* 200px */
  --size-65: 16.25rem; /* 260px */
  --size-92: 23rem; /* 368px */
  --size-184: 46rem; /* 736px */

  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-6: 1.5rem; /* 24px */
  --space-7: 1.75rem; /* 28px */
  --space-8: 2rem; /* 32px */
  --space-9: 2.25rem; /* 36px */
  --space-10: 2.5rem; /* 40px */
  --space-11: 2.75rem; /* 44px */
  --space-13: 3.25rem; /* 52px */
  --space-14: 3.5rem; /* 56px */
}
