.container {
  padding-inline-end: var(--container-padding-inline-end);
  padding-block: var(--container-padding-block);
  padding-block-start: var(
    --container-padding-block-start,
    var(--container-padding-block)
  );
}
