/* floats second card over first card */
.deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--deck-space);
  padding-block-start: var(--deck-top);
}

.deck > :first-child {
  inline-size: var(--deck-card-1-size);
  block-size: auto;
}

/* tablet */
@media (min-width: 40em) {
  .deck {
    align-items: start;
    position: relative;
    isolation: isolate;
  }

  .deck > :first-child {
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .deck > :last-child {
    margin-inline-start: auto;
    max-inline-size: var(--deck-card-2-size);
  }
}
