.position {
  position: relative;
  contain: var(--position-contain, layout);
}

.position[data-position-overflow="hidden"] {
  --position-contain: paint;
}

.position [data-position-target] {
  --internal-position-offset-inline: calc(
    var(--position-offset-inline) +
      var(--internal-position-offset-inline-addend, 0px)
  );

  position: absolute;
  inset-inline: var(--position-inset-inline, 0px auto);
  inset-block: 0px auto;
  transform: translateX(var(--internal-position-offset-inline))
    translateY(var(--position-offset-block));
  z-index: var(--position-z);
}

.position [data-position-origin="center"] {
  --internal-position-offset-inline-addend: -50%;
  --position-inset-inline: 50% auto;
}

.position [data-position-origin="end"] {
  --position-inset-inline: auto 0px;
}

.position [data-position-target="behind"] {
  --position-z: -1;
}
