.position {
  position: relative;
  contain: layout;
}

.position[data-position-overflow="hidden"] {
  contain: paint;
}

.position [data-position-target] {
  position: absolute;
  inset-block-start: var(--position-block-start);
  inset-inline-end: var(--position-inline-end);
}

.position [data-position-target="behind"] {
  z-index: -1;
}

/* todo: calc(var(--position-offset-block) - 50%)? */
.position [data-position-origin="center"] {
  inset-inline-start: 50%;
  transform: translate(
    calc(var(--position-offset-inline) - 50%),
    var(--position-offset-block)
  );
}
