.position {
  position: relative;
  contain: var(--position-contain, layout);
}

.position[data-position-overflow="hidden"] {
  --position-contain: paint;
}

.position [data-position-target] {
  position: absolute;
  margin: var(--position-margin, 0);
  inset-inline: var(--position-inset-inline, 0px auto);
  inset-block: 0px auto;
  transform: translateX(var(--position-offset-inline))
    translateY(var(--position-offset-block));
  z-index: var(--position-z);
}

.position [data-position-origin="center"] {
  --position-margin: auto;
  --position-inset-inline: -9999px;
}

.position [data-position-origin="end"] {
  --position-inset-inline: auto 0px;
}

.position [data-position-target="behind"] {
  --position-z: -1;
}
