/* Supports weights 100-900 */
@import "@fontsource-variable/fraunces/full.css";
@import "@fontsource/barlow/400.css";
@import "@fontsource/barlow/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-dark-cyan: 179 81% 29%;
    --color-dark-grey-blue: 215 19% 25%;
    --color-pale-orange: 25 94% 86%;
    --color-light-cream: 43 78% 98%;
    --color-grey: 215 5% 54%;

    /* https://utopia.fyi/clamp/calculator?a=375,1240,15—16|28—32|28—40|40—72|40—150 */
    --size-15-16: clamp(0.9375rem, 0.9104rem + 0.1156vi, 1rem);
    --size-28-32: clamp(1.75rem, 1.6416rem + 0.4624vi, 2rem);
    --size-28-40: clamp(1.75rem, 1.4249rem + 1.3873vi, 2.5rem);
    --size-40-72: clamp(2.5rem, 1.6329rem + 3.6994vi, 4.5rem);
    --size-40-150: clamp(2.5rem, -0.4805rem + 12.7168vi, 9.375rem);

    /* https://utopia.fyi/clamp/calculator?a=375,1240,25—26|28—48|32—36|40—72 */
    --leading-25-26: clamp(1.5625rem, 1.5354rem + 0.1156vi, 1.625rem);
    --leading-28-48: clamp(1.75rem, 1.2081rem + 2.3121vi, 3rem);
    --leading-32-36: clamp(2rem, 1.8916rem + 0.4624vi, 2.25rem);
    --leading-40-72: clamp(2.5rem, 1.6329rem + 3.6994vi, 4.5rem);
  }

  body {
    @apply font-barlow text-body bg-light-cream text-dark-grey-blue;
  }
}

@layer components {
  /* Components here */

  .menu__overlay {
    /* @apply bg-overlay/85; */

    position: fixed;
    inset: 0;
  }

  .menu__content {
    /* @apply bg-menu text-menu-foreground; */

    overflow-y: auto;
    position: fixed;
    inset: 0 auto 0 0;
    max-width: 100%;
    width: 16.25rem;
    padding: 1.5rem;
  }
}
