.card {
  --box-border-radius: var(--border-radius-large);
  --box-padding: var(--space-4);

  --stack-align-items: center;
  --stack-gap: var(--space-6);

  box-shadow: var(--shadow);
  background-color: var(--color-background-layer-1);
}

.card > img {
  order: -1;
}
