body {
  font: var(--text-body);
  letter-spacing: var(--tracking-body);
  background: var(--color-light-grayish-blue);
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(auto, 45.625rem);
  place-content: center;
  padding: 1.5rem;
}

h1 {
  font: var(--text-heading);
  letter-spacing: var(--tracking-heading);
}

ul {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: var(--weight-bold);
}

.card {
  --card-radius: 0.625rem;

  display: grid;
  grid-template-rows: 12.5rem auto;
  border-radius: var(--card-radius);
  background: var(--color-white);
  color: var(--color-desaturated-dark-blue);
  box-shadow: 0 2.5rem 2.5rem -0.625rem hsl(210 29% 84% / 50%);
}

.card h1,
.card strong {
  color: var(--color-very-dark-grayish-blue);
}

.card footer {
  color: var(--color-grayish-blue);
}

.card > img:first-child {
  width: 100%;
  height: 100%;
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  object-fit: cover;
}

[data-share-popover] {
  --popover-color: var(--color-very-dark-grayish-blue);

  letter-spacing: var(--tracking-share);
  text-transform: uppercase;
  border-radius: 0 0 var(--card-radius) var(--card-radius);
  background: var(--popover-color);
  color: var(--color-grayish-blue);
}

[data-share-button] {
  background: var(--color-light-grayish-blue);
}

[data-share-widget][data-expanded] {
  position: relative;
}

[data-share-widget][data-expanded] [data-share-popover] {
  visibility: hidden;
  position: absolute;
  inset: 0;
}

[data-share-widget][data-expanded="true"] > :first-child {
  padding-bottom: 0.75rem;
}

[data-share-widget][data-expanded="true"] [data-share-popover] {
  visibility: visible;
}

[data-share-widget][data-expanded="true"] [data-share-button] {
  background: var(--color-desaturated-dark-blue);
}

[data-share-widget][data-expanded="true"] [data-share-button] svg * {
  fill: var(--color-white);
}

@screen tablet {
  h1 {
    font: var(--text-heading-desktop);
    letter-spacing: var(--tracking-heading-desktop);
  }

  .card {
    grid-template-columns: 17.8125rem 1fr;
    grid-template-rows: none;
  }

  .card > img:first-child {
    border-radius: var(--card-radius) 0 0 var(--card-radius);
  }

  [data-share-widget][data-expanded] [data-share-popover] {
    inset: revert;
    width: max-content;
    border-radius: 0.625rem;
    padding: 1.125rem 2.25rem;
  }

  [data-share-widget][data-expanded="true"] > :first-child {
    padding-bottom: 1.25rem;
  }

  [data-share-widget][data-expanded="true"] [data-share-popover] {
    visibility: visible;
  }

  [data-share-popover] {
    border-radius: 0 0 var(--card-radius) 0;
  }

  [data-share-popover-arrow] {
    --arrow-size: 1.0625rem;

    position: absolute;
    bottom: calc(-1 * var(--arrow-size) / 2);
    width: var(--arrow-size);
    height: var(--arrow-size);
    transform: rotate(45deg);
    background: var(--popover-color);
  }
}

@media (forced-colors: active) {
  .card {
    border: 2px solid;
  }
}
