@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* --font-sans: here if you have one */
		/* --font-mono: here if you got it... */

		--color-purple: 277 91% 56%;
		--color-dark-navy: 216 25% 25%;
		--color-navy: 215 27% 32%;
		--color-grey-navy: 219 13% 44%;
		--color-light-bluish: 216 47% 78%;
		--color-light-grey: 220 38% 97%;
		--color-pure-white: 0 0% 100%;
		--color-green: 151 70% 50%;
		--color-red: 0 82% 63%;

		--background: var(--color-light-grey);
		--foreground: var(--color-grey-navy);
		--foreground-theme: var(--color-grey-navy);
		--foreground-heading: var(--color-dark-navy);
		--foreground-question-number: var(--color-grey-navy);
		--foreground-question: var(--color-dark-navy);
		--foreground-error: var(--color-red);

		--card: var(--color-pure-white);
		--card-foreground: var(--color-dark-navy);
		--card-foreground-body: var(--color-grey-navy);
		--card-shadow: 220 29% 66% / 14%;

		--button: var(--color-purple);
		--button-foreground: var(--color-pure-white);

		--timer: var(--color-pure-white);

		--border: var(--color-purple);
	}

	.dark {
		--background: var(--color-dark-navy);
		--foreground: var(--color-light-bluish);
		--foreground-theme: var(--color-pure-white);
		--foreground-heading: var(--color-pure-white);
		--foreground-question-number: var(--color-light-bluish);
		--foreground-question: var(--color-pure-white);
		--foreground-error: var(--color-pure-white);

		--card: var(--color-navy);
		--card-foreground: var(--color-pure-white);
		--card-foreground-body: var(--color-light-bluish);
		--card-shadow: 216 25% 25% / 14%;

		--timer: var(--color-navy);
	}
}
