---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon-32x32.png"
    />

    <title>Frontend Mentor | Pod request access landing page</title>
  </head>
  <body>
    <header></header>
    <main>
      <h1>Publish your podcasts <em>everywhere.</em></h1>
      <p>
        Upload your audio to Pod with a single click. We’ll then distribute your
        podcast to Spotify, Apple Podcasts, Google Podcasts, Pocket Casts and
        more!
      </p>
      <h2>Request access</h2>
      <form>
        <label>
          <span>Write an email address to request access</span>
          <input type="email" placeholder="Email address" name="email" />
        </label>
        <button type="submit">Request access</button>
      </form>
      <h2 id="supported-platforms">Supported platforms</h2>
      <ul aria-labelledby="supported-platforms">
        <li>Spotify</li>
        <li>Apple Podcast</li>
        <li>Google Podcasts</li>
        <li>Pocket Casts</li>
      </ul>
    </main>
  </body>
</html>
