@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
/* Supports weights 100-900 */
@import "@fontsource-variable/roboto-slab";
/* Supports weights 100-700 */
@import "@fontsource-variable/roboto-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1000: 225 9% 9%;
    --color-900: 216 8% 12%;
    --color-800: 220 7% 18%;
    --color-700: 216 9% 23%;
    --color-600: 216 8% 38%;
    --color-500: 213 4% 51%;
    --color-400: 222 9% 78%;
    --color-300: 0 0% 89%;
    --color-200: 0 0% 96%;
    --color-100: 0 0% 100%;
    --color-orange: 13 75% 58%;
    --color-orange-hover: 21 86% 67%;

    --body: var(--color-100);
    --body-foreground: var(--color-700);
    --header: var(--color-800);
    --header-foreground: var(--color-100);
    --header-muted: var(--color-500);
    --header-separator: var(--color-600);
    --menu-trigger: var(--color-700);
    --menu-trigger-hover: var(--color-orange);
    --menu-trigger-foreground: var(--color-100);
    --name-field: transparent;
    --name-field-foreground: var(--color-100);
    --name-field-caret: var(--color-orange);
    --delete-button: transparent;
    --delete-button-foreground: var(--color-500);
    --delete-button-hover: var(--color-orange);
    --save-button: var(--color-orange);
    --save-button-hover: var(--color-orange-hover);
    --save-button-foreground: var(--color-100);
  }

  [data-mode="dark"] {
    --body: var(--color-1000);
    --body-foreground: var(--color-400);

    color-scheme: dark;
  }
}
