@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
/* Supports weights 100-900 */
@import "@fontsource-variable/roboto-slab";
/* Supports weights 100-700 */
@import "@fontsource-variable/roboto-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1000: 225 9% 9%;
    --color-900: 216 8% 12%;
    --color-800: 220 7% 18%;
    --color-700: 216 9% 23%;
    --color-600: 216 8% 38%;
    --color-500: 213 4% 51%;
    --color-400: 222 9% 78%;
    --color-300: 0 0% 89%;
    --color-200: 0 0% 96%;
    --color-100: 0 0% 100%;
    --color-orange: 13 75% 58%;
    --color-orange-hover: 21 86% 67%;

    --body: var(--color-100);
    --body-foreground: var(--color-700);
    --body-overlay: var(--color-1000) / 50%;
    --header: var(--color-800);
    --header-foreground: var(--color-100);
    --header-muted: var(--color-500);
    --header-separator: var(--color-600);
    --header-name-foreground: var(--color-100);
    --header-name-caret: var(--color-orange);
    --header-delete-foreground: var(--color-500);
    --header-delete-hover: var(--color-orange);
    --sidebar: var(--color-900);
    --sidebar-foreground: var(--color-100);
    --sidebar-active: var(--color-orange);
    --sidebar-muted: var(--color-500);
    --sidebar-inactive: var(--color-600);
    --sidebar-toggle: var(--color-600);
    --sidebar-toggle-foreground: var(--color-100);
    --menu-trigger: var(--color-700);
    --menu-trigger-hover: var(--color-orange);
    --menu-trigger-foreground: var(--color-100);
    --alert: var(--color-100);
    --alert-foreground: var(--color-500);
    --alert-heading: var(--color-700);
    --primary-button: var(--color-orange);
    --primary-button-hover: var(--color-orange-hover);
    --primary-button-foreground: var(--color-100);
    --editor-header: var(--color-200);
    --editor-header-foreground: var(--color-500);
    --editor-header-preview-hover: var(--color-orange);
    --editor-separator: var(--color-300);
    --preview: var(--color-100);
    --preview-foreground: var(--color-500);
    --preview-h: var(--color-700);
    --preview-h6: var(--color-orange);
    --preview-h6: var(--color-orange);
    --preview-blockquote: var(--color-200);
    --preview-blockquote-foreground: var(--color-700);
    --preview-blockquote-border: var(--color-orange);
    --preview-pre: var(--color-200);
    --preview-pre-foreground: var(--color-700);
    --preview-code: var(--color-700);
    --preview-disc: var(--color-orange);
    --preview-strong-foreground: var(--color-700);
  }

  [data-mode="dark"] {
    --body: var(--color-1000);
    --body-foreground: var(--color-400);
    --body-overlay: var(--color-500) / 50%;
    --alert: var(--color-900);
    --alert-foreground: var(--color-400);
    --alert-heading: var(--color-100);
    --editor-header: var(--color-900);
    --editor-header-foreground: var(--color-400);
    --editor-header-preview-hover: var(--color-orange);
    --editor-separator: var(--color-600);
    --preview: var(--color-1000);
    --preview-foreground: var(--color-400);
    --preview-h: var(--color-100);
    --preview-h6: var(--color-orange);
    --preview-blockquote: var(--color-800);
    --preview-blockquote-foreground: var(--color-100);
    --preview-blockquote-border: var(--color-orange);
    --preview-pre: var(--color-800);
    --preview-pre-foreground: var(--color-100);
    --preview-code: var(--color-100);
    --preview-disc: var(--color-orange);
    --preview-strong-foreground: var(--color-100);

    color-scheme: dark;
  }
}

@layer components {
  .preview {
    @apply bg-preview text-preview-foreground font-roboto-slab text-preview-paragraph p-6 pb-16;
  }

  .preview > * + * {
    @apply mt-5 mb-5;
  }

  .preview h1 {
    @apply text-preview-h1 text-preview-h;
  }

  .preview h2 {
    @apply text-preview-h2 text-preview-h;
  }

  .preview h3 {
    @apply text-preview-h3 text-preview-h;
  }

  .preview h4 {
    @apply text-preview-h4 text-preview-h;
  }

  .preview h5 {
    @apply text-preview-h5 text-preview-h;
  }

  .preview h6 {
    @apply text-preview-h6;
  }

  .preview ol {
    @apply pl-11;

    counter-reset: list-counter;
  }

  .preview ol li {
    counter-increment: list-counter;
    position: relative;
  }

  .preview ol li::before {
    content: counter(list-counter) ".";
    position: absolute;
    left: -0.5625rem;
    transform: translateX(-100%);
  }

  .preview ul {
    @apply pl-11;
  }

  .preview ul li {
    position: relative;
  }

  .preview ul li::before {
    @apply text-preview-disc;

    content: "";
    position: absolute;
    top: 0.6875rem;
    left: -1rem;
    transform: translateX(-100%);
    display: block;
    border-top: 0.1875rem solid;
    border-radius: 50%;
    width: 0.1875rem;
    height: 0.1875rem;
  }

  .preview li {
    margin-block: 0.25rem;
  }

  .preview blockquote {
    @apply bg-preview-blockquote text-preview-blockquote-foreground font-bold py-6 pr-8 pl-5 rounded border-l-4 border-preview-blockquote-border;
  }

  .preview pre {
    @apply bg-preview-pre text-preview-pre-foreground p-6 rounded overflow-x-auto;
  }

  .preview a {
    @apply underline hocus:no-underline;
  }

  .preview code {
    @apply font-roboto-mono text-markdown-code text-preview-code;
  }

  .preview strong {
    @apply text-preview-strong-foreground font-bold;
  }

  .preview em {
    @apply italic;
  }
}
