@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
/* Supports weights 100-900 */
@import "@fontsource-variable/roboto-slab";
/* Supports weights 100-700 */
@import "@fontsource-variable/roboto-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-1000: 225 9% 9%;
    --color-900: 216 8% 12%;
    --color-800: 220 7% 18%;
    --color-700: 216 9% 23%;
    --color-600: 216 8% 38%;
    --color-500: 213 4% 51%;
    --color-400: 222 9% 78%;
    --color-300: 0 0% 89%;
    --color-200: 0 0% 96%;
    --color-100: 0 0% 100%;
    --color-orange: 13 75% 58%;
    --color-orange-hover: 21 86% 67%;

    --body: var(--color-100);
    --body-foreground: var(--color-700);
    --header: var(--color-800);
    --header-foreground: var(--color-100);
    --header-muted: var(--color-500);
    --header-separator: var(--color-600);
    --menu-trigger: var(--color-700);
    --menu-trigger-hover: var(--color-orange);
    --menu-trigger-foreground: var(--color-100);
    --name-field: transparent;
    --name-field-foreground: var(--color-100);
    --name-field-caret: var(--color-orange);
    --delete-button: transparent;
    --delete-button-foreground: var(--color-500);
    --delete-button-hover: var(--color-orange);
    --save-button: var(--color-orange);
    --save-button-hover: var(--color-orange-hover);
    --save-button-foreground: var(--color-100);
    --preview: var(--color-100);
    --preview-foreground: var(--color-500);
    --preview-h: var(--color-700);
    --preview-h6: var(--color-orange);
    --preview-h6: var(--color-orange);
    --preview-blockquote: var(--color-200);
    --preview-blockquote-foreground: var(--color-700);
    --preview-blockquote-border: var(--color-orange);
    --preview-pre: var(--color-200);
    --preview-pre-foreground: var(--color-700);
    --preview-code: var(--color-700);
    --preview-disc: var(--color-orange);
  }

  [data-mode="dark"] {
    --body: var(--color-1000);
    --body-foreground: var(--color-400);
    --preview: var(--color-1000);
    --preview-foreground: var(--color-400);
    --preview-h: var(--color-100);
    --preview-h6: var(--color-orange);
    --preview-blockquote: var(--color-800);
    --preview-blockquote-foreground: var(--color-100);
    --preview-blockquote-border: var(--color-orange);
    --preview-pre: var(--color-800);
    --preview-pre-foreground: var(--color-100);
    --preview-code: var(--color-100);
    --preview-disc: var(--color-orange);

    color-scheme: dark;
  }
}

@layer components {
  .preview {
    @apply font-roboto-slab text-preview-paragraph p-6 pb-16;
  }

  .preview > * + * {
    @apply mt-5;
  }

  .preview h1 {
    @apply text-preview-h1 text-preview-h;
  }

  .preview h2 {
    @apply text-preview-h2 text-preview-h;
  }

  .preview h3 {
    @apply text-preview-h3 text-preview-h;
  }

  .preview h4 {
    @apply text-preview-h4 text-preview-h;
  }

  .preview h5 {
    @apply text-preview-h5 text-preview-h;
  }

  .preview h6 {
    @apply text-preview-h6;
  }

  .preview ol {
    @apply list-decimal pl-11;
  }

  .preview ul {
    @apply list-disc marker:text-preview-disc pl-11;
  }

  .preview blockquote {
    @apply bg-preview-blockquote text-preview-blockquote-foreground font-bold py-6 pr-8 pl-5 rounded border-l-4 border-preview-blockquote-border;
  }

  .preview pre {
    @apply bg-preview-pre text-preview-pre-foreground p-6 rounded overflow-x-auto;
  }

  .preview a {
    @apply underline;
  }

  .preview code {
    @apply font-roboto-mono text-markdown-code text-preview-code;
  }
}
