body {
  --background: url("/images/bg-mobile.svg") no-repeat top / contain;

  font: var(--text-body);
  text-align: center;
  display: grid;
  grid-template-columns: minmax(auto, 80rem);
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-content: start;
  padding: 2.5rem;
  padding-block-start: 2rem;
  background: var(--background) var(--color-violet);
  color: var(--color-white);
}

header {
  text-align: start;
}

h1 {
  font: var(--text-heading);
}

ul[role="list"],
ol[role="list"] {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover,
a:focus-visible {
  color: var(--color-pink);
}

@screen md {
  body {
    --background: url("/images/bg-desktop.svg") no-repeat center / cover;

    font: var(--text-body-desktop);
    padding-top: 4rem;
  }

  h1 {
    font: var(--text-heading-desktop);
  }
}

@screen lg {
  body {
    text-align: start;
    grid-template-rows: none;
    align-content: space-between;
    padding-block-start: 3.375rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 32.5rem;
    gap: 3.75rem;
  }

  main > img {
    align-self: center;
  }
}
