body {
  --background: url("/images/bg-mobile.svg") no-repeat top / contain;

  font: var(--text-body);
  text-align: center;
  padding: 2.5rem;
  background: var(--background) var(--color-violet);
  color: var(--color-white);
}

header {
  text-align: start;
}

h1 {
  font: var(--text-heading);
}

ul[role="list"],
ol[role="list"] {
  padding: 0;
}

a {
  color: inherit;
}

a:hover,
a:focus-visible {
  color: var(--color-pink);
}

/* tablet */
@media (min-width: 40em) {
  body {
    --background: url("/images/bg-desktop.svg") no-repeat center / cover;

    font: var(--text-body-desktop);
    padding-top: 4rem;
  }

  h1 {
    font: var(--text-heading-desktop);
  }
}

/* desktop */
@media (min-width: 64em) {
  body {
    text-align: start;
  }

  main {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 32.5rem);
    gap: 3.75rem;
  }

  main > :first-child {
    align-self: center;
  }
}
