:root {
  /* primary */
  --color-violet: hsl(257 40% 49%);
  --color-soft-magenta: hsl(300 69% 71%);
  --color-pink: hsl(322 100% 66%);
  /* neutral */
  --color-white: hsl(0 0% 100%);

  --font-poppins: "Poppins", sans-serif;
  --font-open-sans: "Open Sans Variable", sans-serif;

  --weight-regular: 400;
  --weight-semi-bold: 600;

  --text-heading: var(--weight-semi-bold) 1.5rem / 2.25rem var(--font-poppins);
  --text-heading-desktop: var(--weight-semi-bold) 2.5rem / 3.75rem
    var(--font-poppins);
  --text-body: var(--weight-regular) 1rem / 1.5rem var(--font-open-sans);
  --text-body-desktop: var(--weight-regular) 1.125rem / 1.6875rem
    var(--font-open-sans);
  --text-button: var(--weight-regular) 0.75rem / 1.125rem var(--font-poppins);
  --text-button-desktop: var(--weight-regular) 1.125rem / 1.6875rem
    var(--font-poppins);

  /* from tailwind */
  --transition: cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}
