body {
  font: var(--text-body);
  background: hsl(0 0% 98%);
  margin: 0;
  padding-bottom: 4.75rem;
}

h1 {
  font: var(--text-h1);
}

h2 {
  font: var(--text-h2);
}

h3 {
  font: var(--text-h3);
}

nav {
  font: var(--text-nav);
}

nav a {
  text-decoration: none;
}

p {
  margin: 0;
}

[role="list"] {
  margin: 0;
  padding: 0;
}

@media (min-width: 40em) {
  body {
    font: var(--text-body-desktop);
    padding-bottom: 7.75rem;
  }

  h1 {
    font: var(--text-h1-desktop);
  }

  h2 {
    font: var(--text-h2-desktop);
  }

  h3 {
    font: var(--text-h3-desktop);
  }

  nav {
    font: var(--text-nav-desktop);
  }
}
