@import "modern-css-reset";

:root {
  --color-black: hsl(0 0% 1%);
  --color-light-cream: hsl(30 100% 97%);
  --color-galactic-blue: hsl(252 66% 62%);

  --weight-bold: 700;

  --font: "Plus Jakarta Sans Variable", sans-serif;

  --text-heading-s: var(--weight-bold) 1.5rem / 1.875rem var(--font);
  --text-heading-s-desktop: var(--weight-bold) 2rem / 2.5rem var(--font);

  --page-max-width: 69.375rem;
  --page-padding: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.color-base {
  background: var(--color-light-cream);
  color: var(--color-black);
}

.heading-s {
  font: var(--text-heading-s);
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--page-max-width);
  padding-inline: var(--page-padding);
}

.my-work {
  padding-block: 6.25rem;
}

.my-work__heading {
  text-align: center;
}

.my-work__slider {
  margin-top: 2rem;
}

.slider {
  --slider-slide-width: 16.875rem;
  --slider-slide-gap: 0.9375rem;

  display: flex;
  flex-direction: column-reverse;
}

.slider__controls {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.slider__control {
  width: 4rem;
  height: 4rem;
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-grid;
  place-content: center;
  background: var(--color-black);
  transition: background-color 200ms;
}

.slider__control:hover,
.slider__control:focus-visible {
  background: var(--color-galactic-blue);
}

.slider__control img {
  width: auto;
  height: 1rem;
}

.slider__scroll {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.slider__scroll::-webkit-scrollbar {
  height: 0px;
}

.slider__content {
  display: flex;
}

.slider__content::after {
  content: "";
  flex: 0 0 max((100vw - var(--page-max-width)) / 2, var(--page-padding));
}

.slider__content > * {
  flex: 0 0 var(--slider-slide-width);
  scroll-snap-stop: always;
  scroll-snap-align: center;
}

.slider__content > * + * {
  margin-left: var(--slider-slide-gap);
}

.slider__slide-img {
  width: 100%;
  height: auto;
  border-radius: 0.625rem;
}

.slider__slide-caption {
  /*
    Triggers body overflow even though they're `visually-hidden`, so we position
    them relative to the viewport instead.
  */
  position: fixed;
}

@media (min-width: 40em) {
  .heading-s {
    font: var(--text-heading-s-desktop);
  }

  .my-work {
    padding-block: 5.5rem;
  }

  .my-work__slider {
    margin-top: 3.5rem;
  }

  .slider {
    --slider-slide-width: 33.75rem;
    --slider-slide-gap: 1.875rem;
  }

  .slider__controls {
    margin-top: 3.5rem;
  }
}
