---
// Supports weights 100-900
import "@fontsource-variable/big-shoulders-display";
// Supports weights 100-900
import "@fontsource-variable/outfit";
import "../styles/global.css";

interface Props {
  theme?: "almost-black";
}

const { theme } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <title>Frontend Mentor | Art gallery website</title>
  </head>
  <body data-theme={theme}>
    <slot />
  </body>
</html>
