---
import TextField from "./text-field.astro";
---

<div class="tablet:mt-8 tablet:grid tablet:grid-cols-2 tablet:gap-6">
  <fieldset class="m-0 mt-6 border-none p-0 tablet:mt-0">
    <legend class="mb-2 text-dark-electric-blue">Height</legend>
    <TextField label="cm" name="height-cm" required />
  </fieldset>
  <fieldset class="m-0 mt-4 border-none p-0 tablet:mt-0">
    <legend class="mb-2 text-dark-electric-blue">Weight</legend>
    <TextField label="kg" name="weight-kg" required />
  </fieldset>
</div>
