---
const { label, ...inputProps } = Astro.props;
const id = inputProps.name;
---

<span class="grid grid-cols-[1fr_max-content] items-center text-heading-m">
  <input
    class="col-span-full row-start-1 rounded-3 border-1 border-solid border-borders p-5 px-6 pr-16 text-inherit transition placeholder:text-gunmetal/25 hover:border-blue focus-visible:border-blue focus-visible:outline-none"
    id={id}
    type="text"
    inputmode="numeric"
    pattern="\\d+"
    placeholder="0"
    {...inputProps}
  />
  <label class="col-start-2 row-start-1 mr-6 text-blue" for={id}>{label}</label>
</span>
