:root {
  --color-gold: hsl(24 56% 63%);
  --color-almost-black: hsl(0 0% 8%);
  --color-dark-grey: hsl(0 0% 27%);
  --color-white: hsl(0 0% 100%);

  --font-display: "Big Shoulders Display Variable", sans-serif;
  --font-body: "Outfit Variable", sans-serif;

  --weight-light: 300;
  --weight-black: 900;

  --text-heading-xl: var(--weight-black) 6rem / 5.5rem var(--font-display);
  --text-heading-l: var(--weight-black) 4.375rem / 4.375rem var(--font-display);
  --text-heading-m: var(--weight-black) 3.75rem / 3.75rem var(--font-display);
  --text-heading-s: var(--weight-black) 2.25rem / 2.25rem var(--font-display);
  --text-body-m: var(--weight-light) 1.375rem / 2rem var(--font-body);
  --text-body-s: var(--weight-light) 1.125rem / 1.75rem var(--font-body);
}

body {
  font: var(--text-body-s);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  color: var(--color-dark-grey);
}

body[data-theme="almost-black"] {
  background: var(--color-almost-black);
  color: var(--color-white);
}

body[data-theme="almost-black"] h1,
body[data-theme="almost-black"] h2,
body[data-theme="almost-black"] h3,
body[data-theme="almost-black"] h4,
body[data-theme="almost-black"] h5,
body[data-theme="almost-black"] h6 {
  color: inherit;
}

body > footer {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: var(--color-almost-black);
}

@screen desktop {
  body {
    font: var(--text-body-m);
  }
}
