@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gutter: 1.5rem;

    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    @apply bg-white text-body text-dark-grey;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  a {
    text-underline-offset: 0.14em;
  }

  :focus {
    outline-offset: 0.25rem;
  }

  @media (min-width: 40em) {
    :root {
      --gutter: 2.5rem;
    }
  }
}

@layer components {
  .center {
    @apply px-gutter mx-auto box-content max-w-[69.4375rem];
  }

  .center-inner {
    @apply mx-auto box-content max-w-[35.8125rem] px-6 desktop:max-w-[57.5rem];
  }

  .cluster {
    @apply flex flex-wrap items-center;
  }

  .region {
    @apply overflow-hidden tablet:rounded desktop:grid desktop:grid-cols-[95fr_458fr_82fr_380fr_96fr] desktop:items-center;
  }

  .region__text {
    @apply max-w-[35.8125rem] justify-self-center px-6 py-20 text-center tablet:py-16 desktop:px-0 desktop:text-start;
  }

  .button {
    @apply rounded-[0.5rem] bg-white px-6 py-4 font-medium uppercase tracking-[0.0625rem] text-dark-grey transition-colors hocus:bg-light-peach hocus:text-white;
  }

  .button-peach {
    @apply rounded-[0.5rem] bg-peach px-6 py-4 font-medium uppercase tracking-[0.0625rem] text-white transition-colors hocus:bg-light-peach;
  }
}

@layer utilities {
  .px-gutter {
    padding-inline: var(--gutter);
  }
}
