@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    @apply bg-white text-body text-dark-grey;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  a {
    text-underline-offset: 0.14em;
  }

  :focus {
    outline-offset: 0.25rem;
  }
}

@layer components {
  .center {
    @apply mx-auto box-content max-w-[69.4375rem] px-6 tablet:px-10;
  }

  .cluster {
    @apply flex flex-wrap items-center;
  }
}
