/* Carries the shape of the element into High Contrast Mode */
.shape {
  border: var(--border-width, 2px) solid transparent;
  border-radius: var(--shape-radius);
  background: var(--shape-background);
  background-origin: border-box;
  block-size: var(--shape-block-size);
  padding-inline: calc(
    var(--shape-padding-inline, var(--space-200)) - var(--border-width, 2px)
  );
  padding-block-start: calc(
    var(--shape-padding-block-start, var(--shape-padding-block)) -
      var(--border-width, 2px)
  );
  padding-block-end: calc(
    var(--shape-padding-block-end, var(--shape-padding-block)) -
      var(--border-width, 2px)
  );
  transition: background var(--shape-transition-duration);
}
