.card {
  background: hsl(0 0% 100%);
  border: 1px solid var(--card-border-color, hsl(0 0% 0% / 5%));
  border-radius: 0.5rem;
  padding: var(--card-padding, 2.5rem 1.5rem);
}

.card[data-disabled="true"] {
  opacity: 50%;
}

@media (min-width: 40em) {
  .card {
    padding: var(--card-padding, 3rem);
  }
}
