:root {
  --color-dark-purple: hsl(273 85% 13%);
  --color-eucaplyptus: hsl(150 100% 63%);
  --color-davy\'s-grey: hsl(271 12% 34%);
  --color-ghost-white: hsl(276 100% 99%);
  --color-white: hsl(0 0% 100%);

  --font-fraunces: "Fraunces", serif;
  --font-manrope: "Manrope", sans-serif;

  --text-50: 1rem; /* 16px */
  --text-100: 1.125rem; /* 18px */
  --text-150: 1.25rem; /* 20px */
  --text-200: 1.5rem; /* 24px */
  --text-250: 1.75rem; /* 28px */
  --text-300: 2rem; /* 32px */
  --text-350: 3rem; /* 48px */
  --text-400: 3.125rem; /* 50px */
  --text-450: 3.5rem; /* 56px */
  --text-500: 3.75rem; /* 60px */
  --text-550: 5rem; /* 80px */

  --leading-100: 1.75rem; /* 28px */
  --leading-200: 2rem; /* 32px */
  --leading-300: 2.25rem; /* 36px */
  --leading-400: 2.5rem; /* 40px */
  --leading-450: 3rem; /* 48px */
  --leading-500: 3.125rem; /* 50px */
  --leading-600: 3.5rem; /* 56px */
  --leading-700: 3.75rem; /* 60px */
  --leading-800: 4rem; /* 64px */
  --leading-900: 5rem; /* 80px */

  --tracking-100: -0.01rem; /* -0.16px */
  --tracking-200: -0.01125rem; /* -0.18px */

  --weight-regular: 400;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  --size-0-75: 0.1875rem; /* 3px */
  --size-6: 1.5rem; /* 24px */
  --size-279: 69.75rem; /* 1116px */

  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-7: 1.75rem; /* 28px */
  --space-8: 2rem; /* 32px */
  --space-9: 2.25rem; /* 36px */
  --space-10: 2.5rem; /* 40px */
  --space-11: 2.75rem; /* 44px */
  --space-12: 3rem; /* 48px */
  --space-13: 3.25rem; /* 52px */
  --space-14: 3.5rem; /* 56px */
  --space-15: 3.75rem; /* 60px */
  --space-16: 4rem; /* 64px */
  --space-17: 4.25rem; /* 68px */
  --space-18: 4.5rem; /* 72px */
  --space-19: 4.75rem; /* 76px */
  --space-20: 5rem; /* 80px */
  --space-21: 5.25rem; /* 84px */
  --space-22: 5.5rem; /* 88px */
  --space-23: 5.75rem; /* 92px */
  --space-24: 6rem; /* 96px */
  --space-25: 6.25rem; /* 100px */
  --space-26: 6.5rem; /* 104px */
  --space-27: 6.75rem; /* 108px */
  --space-28: 7rem; /* 112px */
  --space-29: 7.25rem; /* 116px */
  --space-30: 7.5rem; /* 120px */
  --space-31: 7.75rem; /* 124px */
  --space-32: 8rem; /* 128px */
  --space-33: 8.25rem; /* 132px */
  --space-34: 8.5rem; /* 136px */
  --space-35: 8.75rem; /* 140px */
  --space-36: 9rem; /* 144px */
  --space-37: 9.25rem; /* 148px */
  --space-38: 9.5rem; /* 152px */
  --space-39: 9.75rem; /* 156px */
  --space-40: 10rem; /* 160px */
  --space-41: 10.25rem; /* 164px */
  --space-42: 10.5rem; /* 168px */
  --space-43: 10.75rem; /* 172px */
  --space-44: 11rem; /* 176px */
  --space-45: 11.25rem; /* 180px */
  --space-46: 11.5rem; /* 184px */
  --space-47: 11.75rem; /* 188px */
  --space-48: 12rem; /* 192px */
  --space-49: 12.25rem; /* 196px */
  --space-50: 12.5rem; /* 200px */
  --space-51: 12.75rem; /* 204px */
  --space-52: 13rem; /* 208px */
  --space-53: 13.25rem; /* 212px */
  --space-54: 13.5rem; /* 216px */
  --space-55: 13.75rem; /* 220px */
  --space-56: 14rem; /* 224px */
  --space-57: 14.25rem; /* 228px */
  --space-58: 14.5rem; /* 232px */
  --space-59: 14.75rem; /* 236px */
  --space-60: 15rem; /* 240px */
  --space-61: 15.25rem; /* 244px */
  --space-62: 15.5rem; /* 248px */
  --space-63: 15.75rem; /* 252px */
  --space-64: 16rem; /* 256px */
  --space-65: 16.25rem; /* 260px */
  --space-66: 16.5rem; /* 264px */
  --space-67: 16.75rem; /* 268px */
  --space-68: 17rem; /* 272px */
  --space-69: 17.25rem; /* 276px */
  --space-70: 17.5rem; /* 280px */
  --space-71: 17.75rem; /* 284px */
  --space-72: 18rem; /* 288px */
  --space-73: 18.25rem; /* 292px */
  --space-74: 18.5rem; /* 296px */
  --space-75: 18.75rem; /* 300px */
  --space-76: 19rem; /* 304px */
  --space-77: 19.25rem; /* 308px */
  --space-78: 19.5rem; /* 312px */
  --space-79: 19.75rem; /* 316px */
  --space-80: 20rem; /* 320px */
  --space-81: 20.25rem; /* 324px */
  --space-82: 20.5rem; /* 328px */
  --space-83: 20.75rem; /* 332px */
  --space-84: 21rem; /* 336px */
  --space-85: 21.25rem; /* 340px */
  --space-86: 21.5rem; /* 344px */
  --space-87: 21.75rem; /* 348px */
  --space-88: 22rem; /* 352px */
  --space-89: 22.25rem; /* 356px */
  --space-90: 22.5rem; /* 360px */
  --space-91: 22.75rem; /* 364px */
  --space-92: 23rem; /* 368px */
  --space-93: 23.25rem; /* 372px */
  --space-94: 23.5rem; /* 376px */
  --space-95: 23.75rem; /* 380px */
  --space-96: 24rem; /* 384px */
  --space-97: 24.25rem; /* 388px */
  --space-98: 24.5rem; /* 392px */
  --space-99: 24.75rem; /* 396px */
  --space-100: 25rem; /* 400px */
}
