@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body {
		@apply bg-152938 font-base text-FCFCFC transition-colors;

		line-height: 1.25;
		font-weight: 700;
	}

	body[data-screen='play'] {
		@apply bg-FCFCFC text-152938;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	:focus {
		outline-offset: 0.25rem;
	}
}
