@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: 222 26% 31%;
    --main-foreground: 0 0% 100%;
    --toggle: 223 31% 20%;
    --toggle-foreground: 6 63% 50%;
    --keypad: 223 31% 20%;
    --screen: 224 36% 15%;
    --screen-foreground: 0 0% 100%;
    --key-default: 30 25% 89%;
    --key-default-foreground: 221 14% 31%;
    --key-default-shadow: 28 16% 65%;
    --key-reset: 225 21% 49%;
    --key-reset-foreground: 0 0% 100%;
    --key-reset-shadow: 224 28% 35%;
    --key-equals: 6 63% 50%;
    --key-equals-foreground: 0 0% 100%;
    --key-equals-shadow: 6 70% 34%;
  }

  :root[data-theme="2"] {
    --main: 0 0% 90%;
    --main-foreground: 60 10% 19%;
    --toggle: 0 5% 81%;
    --toggle-foreground: 25 98% 40%;
    --keypad: 0 5% 81%;
    --screen: 0 0% 93%;
    --screen-foreground: 60 10% 19%;
    --key-default: 45 7% 89%;
    --key-default-foreground: 60 10% 19%;
    --key-default-shadow: 35 11% 61%;
    --key-reset: 185 42% 37%;
    --key-reset-foreground: 0 0% 100%;
    --key-reset-shadow: 185 58% 25%;
    --key-equals: 25 98% 40%;
    --key-equals-foreground: 0 0% 100%;
    --key-equals-shadow: 25 99% 27%;
  }

  :root[data-theme="3"] {
    --main: 268 75% 9%;
    --main-foreground: 52 100% 62%;
    --toggle: 268 71% 12%;
    --toggle-foreground: 176 100% 44%;
    --keypad: 268 71% 12%;
    --screen: 268 71% 12%;
    --screen-foreground: 52 100% 62%;
    --key-default: 268 47% 21%;
    --key-default-foreground: 52 100% 62%;
    --key-default-shadow: 290 70% 36%;
    --key-reset: 281 89% 26%;
    --key-reset-foreground: 0 0% 100%;
    --key-reset-shadow: 285 91% 52%;
    --key-equals: 176 100% 44%;
    --key-equals-foreground: 198 20% 13%;
    --key-equals-shadow: 177 92% 70%;
  }

  body {
    @apply font-base text-body bg-main text-main-foreground;
  }
}

@layer components {
  /* Components here */

  .menu__overlay {
    /* @apply bg-overlay/85; */

    position: fixed;
    inset: 0;
  }

  .menu__content {
    /* @apply bg-menu text-menu-foreground; */

    overflow-y: auto;
    position: fixed;
    inset: 0 auto 0 0;
    max-width: 100%;
    width: 16.25rem;
    padding: 1.5rem;
  }
}
