/* Supports weights 100-900 */
@import "@fontsource-variable/league-spartan";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: 222 26% 31%;
    --main-foreground: 0 0% 100%;
    --toggle: 223 31% 20%;
    --toggle-foreground: 6 63% 50%;
    --keypad: 223 31% 20%;
    --screen: 224 36% 15%;
    --screen-foreground: 0 0% 100%;
    --key-default: 30 25% 89%;
    --key-default-foreground: 221 14% 31%;
    --key-default-shadow: 28 16% 65%;
    --key-reset: 225 21% 49%;
    --key-reset-foreground: 0 0% 100%;
    --key-reset-shadow: 224 28% 35%;
    --key-equals: 6 63% 50%;
    --key-equals-foreground: 0 0% 100%;
    --key-equals-shadow: 6 70% 34%;
  }

  :root[data-theme="2"] {
    --main: 0 0% 90%;
    --main-foreground: 60 10% 19%;
    --toggle: 0 5% 81%;
    --toggle-foreground: 25 98% 40%;
    --keypad: 0 5% 81%;
    --screen: 0 0% 93%;
    --screen-foreground: 60 10% 19%;
    --key-default: 45 7% 89%;
    --key-default-foreground: 60 10% 19%;
    --key-default-shadow: 35 11% 61%;
    --key-reset: 185 42% 37%;
    --key-reset-foreground: 0 0% 100%;
    --key-reset-shadow: 185 58% 25%;
    --key-equals: 25 98% 40%;
    --key-equals-foreground: 0 0% 100%;
    --key-equals-shadow: 25 99% 27%;
  }

  :root[data-theme="3"] {
    --main: 268 75% 9%;
    --main-foreground: 52 100% 62%;
    --toggle: 268 71% 12%;
    --toggle-foreground: 176 100% 44%;
    --keypad: 268 71% 12%;
    --screen: 268 71% 12%;
    --screen-foreground: 52 100% 62%;
    --key-default: 268 47% 21%;
    --key-default-foreground: 52 100% 62%;
    --key-default-shadow: 290 70% 36%;
    --key-reset: 281 89% 26%;
    --key-reset-foreground: 0 0% 100%;
    --key-reset-shadow: 285 91% 52%;
    --key-equals: 176 100% 44%;
    --key-equals-foreground: 198 20% 13%;
    --key-equals-shadow: 177 92% 70%;
  }

  body {
    @apply font-base font-bold bg-main text-main-foreground;
  }
}

@layer components {
  .center {
    display: grid;
    grid-template-columns: 1fr minmax(0, 33.75rem) 1fr;
    align-content: center;
    row-gap: 2rem;
  }

  .center > * {
    grid-column: 2;
  }

  .toggle {
    height: 2.625rem;
    display: grid;
    grid-template:
      ".  . one two three" 0.6875rem
      "legend . one two three" 1.625rem / max-content 1.625rem 1.5rem 1.4375rem 1.5rem;
    row-gap: 0.3125rem;
    text-align: center;
  }

  .toggle:has(:focus-visible) {
    outline: 0.125rem solid;
    outline-offset: 0.25rem;
  }

  .toggle__legend {
    grid-area: legend;
    align-self: center;
  }

  .toggle__one {
    grid-area: one;
  }

  .toggle__two {
    grid-area: two;
  }

  .toggle__three {
    grid-area: three;
  }

  .toggle__gutter {
    @apply bg-toggle;

    grid-column: one-start / -1;
    grid-row: 2;
    border-radius: 9999px;
    display: grid;
    align-items: center;
  }

  .toggle__thumb {
    @apply text-toggle-foreground transition-transform;

    width: 1rem;
    aspect-ratio: 1;
    border-top: 1rem solid;
    border-radius: 50%;
    transform: translateX(0.3125rem);
  }

  .toggle[data-theme="2"] .toggle__thumb {
    transform: translateX(1.6875rem);
  }

  .toggle[data-theme="3"] .toggle__thumb {
    transform: translateX(3.125rem);
  }
}
